{% load static %}
<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Add</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_add_edit.css' %}">
    <link rel="stylesheet" href="{% static 'css/add_user.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://kit.fontawesome.com/6671961b0d.js" crossorigin="anonymous"></script>
   </head>
<body>
  <div class="sidebar open">
    <div class="logo-details">
      <img class=" gcit_logo" src="{% static 'images/GCIT_logo.png' %}" alt="" >
      <!-- <i class='bx bxl-c-plus-plus icon'></i>
        <div class="logo_name">CodingLab</div> -->
        <i class='bx bx-menu' id="btn" style="font-size: 30px;"></i>       
    </div>
    <div class="logo-details">
      <img class="logo" src="{% static 'images/logo.png' %}" alt="">
    </div>
    <!-- Role -->
    <div class="logo-details ms-5" style="margin-top: 150px;">
      <p class=" ms-4 text-uppercase" style="font-size: 30px;">admin</p>
      
     
    </div>
    <hr class="w-100" style="height: 3px; background-color: black;opacity:50%;">
    <ul class="nav-list">
      <li>
        <a class="" href="{% url 'admin_dashboard' %}">
          <i class='bx bx-grid-alt me-5 ' style="font-size: 30px;"></i>
          <span class="links_name">Dashboard</span>
        </a>

      </li>
      <li>
       <a class="dashboard  text-light active" href="{% url 'admin_add' %}">
         <i class='bx bx-plus-circle  me-5' style="font-size: 30px;" ></i>
         <span class="links_name">Add</span>
       </a>

     </li>
     <li>
       <a class="edit" href="{% url 'admin_edit' %}">
         <i class='bx bx-edit  me-5' style="font-size: 30px;"></i>
         <span class="links_name">Edit</span>
       </a>

     </li>
     
    </ul>
  </div>
     <!-- log out model -->
     <div class="modal fade " id="exampleModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-2 ">
          <div class="modal-header ">
            <h5 class="modal-title fw-bold" id="exampleModalLabel">Confirmation</h5>
          </div>
          <div class="modal-body fw-bold">
            Are you sure you want to log out?
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn  rounded text-uppercase fw-bold fs-6" data-bs-dismiss="modal" style="border-width: 0.1mm;border-color: #0892A5;">cancel</button>
            <button type="button" class="btn  rounded text-uppercase text-white border fw-bold fs-6" style="background-color: #0892A5; border-color: #0892A5;"><a href='../logout' style="text-decoration:none; color:black">Logout</a></button>
          </div>
        </div>
      </div>
    </div>
    <!--END log out model -->
  <section class="home-section">
    <div class="content ps-4 pe-4">
      <div class="hero">
        <nav>
          <div class="header  container-fluid">
            <div class="text pt-3">ADMIN DASHBOARD</div> 
          </div>
        </nav>
      </div>
      
      <div class="action">
        <div class="d-flex">
        <span class="username mt-1 pe-2" id="#username">{{request.session.first_name}}</span>
        <div class="profile text-white" id="profile" onclick="menuToggle();">
          A
        </div>
        
        <div class="menu shadow-lg">
          <ul>
            <li class=" p-2 me-4 mt-3"><i class="bx bx-user-circle pe-2 " style="font-size: 25px;" ></i><a href="../admin_profile">My Profile</a></li>
            <li  class=" p-2 me-4" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bx bx-log-out pe-2" style="font-size: 25px;" ></i>Logout</li>
            </div>
          </div>
        </div> 
    <div class="add-options ps-2 pe-2 mt-3">
        <div class="row row-cols-2 gx-4">
          <div class="col">
            <a data-bs-toggle="modal" data-bs-target="#adduser">
           <div class="p-3 border  text-center rounded p-3 shadow-sm">
            <i class="fa-solid fa-user-plus p-5"></i> 
            <h5>
              Add New Employee
            </h5>
          </div>
        </a>
          </div>
          <div class="col">
            <a data-bs-toggle="modal" data-bs-target="#addcat">
              <div class=" cat p-3 border  text-center rounded p-3 shadow-sm">
                <i class="fa-solid fa-file-circle-plus p-5"></i>
               <h5>
                 Add New Category
               </h5>
             </div>
           </a>
          </div>
          
          <div class="col mt-4">
            <a data-bs-toggle="modal" data-bs-target="#addsubcat">
              <div class="p-3 border  text-center rounded p-3 shadow-sm">
                <i class="fa-solid fa-file-lines p-5"></i>
               <h5>
                 Add New Sub-category
               </h5>
             </div>
           </a>
          </div>
          <div class="col mt-4">
            <a data-bs-toggle="modal" data-bs-target="#adddepart">
              <div class="p-3 border  text-center rounded p-3 shadow-sm">
                <i class="fa-solid fa-folder-tree p-5"></i> 
               <h5>
                 Add New Department
               </h5>
             </div>
           </a>
          </div>
        </div>
    
    </div>

        </div>
      </div>

  </section>
    <!-- add user model -->
    <div class="modal fade " id="adduser" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-2 ">
          
            <div class="modal-title  mt-3" >
              <h5 class="ms-5" style="color: #0892A5;opacity: 80%;font-weight: bold;">Add New Employee</h5>
            </div>
        
            <div class="new-user ps-5 pe-5 mt-2">

              <form  name="userform" method="post" action="">
                {% csrf_token %}
                <input type="hidden" name="form_name" value="userform">
                  <div class="name ">
                      <div class="fname">
                      <label class="d-block " for="">First Name</label>
                      <div class="input-group mb-3 mt-2">
                          <span class="input-group-text " id="basic-addon1"><i class='bx bx-user-circle' style="font-size: 30px;"></i></span>
                          <input
                          name="first_name"
                            type="text"
                            class="form-control"
                            placeholder="First Name"
                            aria-label="fname"
                            aria-describedby="basic-addon1"
                            required
                          />
                        </div>
                      </div>
                      <!-- <div class="mname">
                        <label class="d-block " for="">Middle Name</label>
                        <div class="input-group mb-3 mt-2">
                            <span class="input-group-text " id="basic-addon1"><i class='bx bx-user-circle' style="font-size: 30px;"></i></span>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Middle Name"
                              aria-label="mname"
                              aria-describedby="basic-addon1"
                            />
                          </div>
                        </div> -->
                        <div class="lname">
                          <label class="d-block " for="">Last Name</label>
                          <div class="input-group mb-3 mt-2">
                              <span class="input-group-text " id="basic-addon1"><i class='bx bx-user-circle' style="font-size: 30px;"></i></span>
                              <input
                              name="last_name"
                                type="text"
                                class="form-control"
                                placeholder="Last Name"
                                aria-label="lname"
                                aria-describedby="basic-addon1"
                                required
                              />
                            </div>
                          </div>
                      </div>
                  <div class="Email ">
                      <label class="d-block " for="">Email</label>
                      <div class="input-group mb-3 mt-2">
                          <span class="input-group-text " id="basic-addon1"><i class='bx bx-envelope' style="font-size: 30px;"></i></span>
                          <input
                          name="email"
                            type="text"
                            class="form-control"
                            placeholder="Email"
                            aria-label="Email"
                            aria-describedby="basic-addon1"
                          />
                        </div>
                      </div>  
                      <div class="EmpID ">
                        <label class="d-block " for="">Employee ID</label>
                        <div class="input-group mb-3 mt-2">
                            <span class="input-group-text " id="basic-addon1"><i class='bx bx-id-card' style="font-size: 30px;"></i></span>
                            <input
                            name="employee_id"
                              type="text"
                              class="form-control"
                              placeholder="Employee ID"
                              aria-label="EmpID"
                              aria-describedby="basic-addon1"
                            />
                          </div>
                        </div>  
                  <div class="role mt-4 w-100">                    
                      <div class="input-group mb-3">
                         <select class="text-center"  name="role" id="">
                          <option value="">Select Role</option>
                          <option value="Staff">Staff</option>
                          <option value="President">President</option>
                          <option value="Head of Department">Head of Department</option>
                          <option value="Head of Finance">Head of Finance</option>
                          <option value="Finance Team">Finance Team</option>
      
                         </select>
                        </div>
                  </div>  
                  <div class="department mt-2 w-100 ">          
                      <div class="input-group mb-3 ">
                         <select class="text-center" name="department" id="">
                          <option value="">Select Department</option>
                          {% for department in departments %}
                          <option value="{{department.department}}">{{department.department}}</option>
                          {% endfor %}
                         </select>
                        </div>
      
                  </div>         
             
            </div>

            <input type="hidden" name="temp_password" value='{{ temp_password }}'>

          <div class="add ps-5 pe-5 mt-2 pb-3">
            <button type="button" class="btn  rounded text-uppercase fw-bold fs-6" data-bs-dismiss="modal" style="border-width: 0.1mm;border-color: #0892A5;">cancel</button>
            <button 
            data-bs-toggle="modal" data-bs-target="#addUserSuccess"
             type="submit" class="btn  rounded text-uppercase text-white border fw-bold fs-6" 
             style="background-color: #0892A5; border-color: #0892A5;">Add</button>
          </div>
        </form>

        </div>
      </div>
    </div>
    <!--END add user model -->
      <!-- add category model -->
      <div class="modal fade " id="addcat" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content p-2 "  style="height: 560px;" >
            
              <div class="modal-title  mt-4">
                <h5 class="ms-5" style="color: #0892A5;opacity: 80%;font-weight: bold;">Add New Category</h5>
              </div>
          
              <div class="new-user ps-5 pe-5 mt-4">
                <form  name="catform" method="post" action="" >
                {% csrf_token %}
                <input type="hidden" name="form_name" value="catform">
                <div class="name ">
                        <div class="catname pb-2">
                        <label class="d-block " for="">Category Name</label>
                        <div class="input-group mb-3 mt-3">
                            <span class="input-group-text " id="basic-addon1"><i class='bx bx-category' style="font-size: 30px;"></i></span>
                            <input
                              name="category_name"
                              type="text"
                              class="form-control"
                              placeholder="Category Name"
                              aria-label="CategoryName"
                              aria-describedby="basic-addon1"
                              required
                            />
                          </div>
                        </div>

                        
                        <div class="description mt-2">
                          <label class="d-block " for="">Description</label>
                          <div class="input-group mb-4 mt-3">
                              <textarea class="w-100 p-2" name="description" id="" rows="7"></textarea>
                            </div>
                          </div>
                          
                          
                        </div>     
               
                
              </div>
  
            <div class="add ps-5 pe-5 mt-4 pb-4">
              <button type="button" class="btn  rounded text-uppercase fw-bold fs-6" data-bs-dismiss="modal" style="border-width: 0.1mm;border-color: #0892A5;">cancel</button>
              <button type="submit" data-bs-toggle="modal" data-bs-target="#addCatSuccess" class="btn  rounded text-uppercase text-white border fw-bold fs-6" style="background-color: #0892A5; border-color: #0892A5;">Add</button>
            </div>
          </form>
          </div>
        </div>
      </div>
      <!--END add category model -->
       <!-- add sub-category model -->
       <div class="modal fade " id="addsubcat" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content p-2 " style="height: 560px;">
            
              <div class="modal-title  mt-3" >
                <h5 class="ms-5" style="color: #0892A5;opacity: 80%;font-weight: bold;">Add New Sub-category</h5>
              </div>
          
              <div class="new-user ps-5 pe-5 mt-2">
                <form  name="subcatform" method="post" action="">
                  {% csrf_token %}
                <input type="hidden" name="form_name" value="subcatform">
                    <div class="name ">
                        <div class="subcatname">
                        <label class="d-block " for="">Sub-category Name</label>
                        <div class="input-group mb-3 mt-2">
                            <span class="input-group-text " id="basic-addon1"><i class='bx bx-category' style="font-size: 30px;"></i></span>
                            <input
                            name="sub_category_name"
                              type="text"
                              class="form-control"
                              placeholder="Sub-category Name"
                              aria-label="SubCategoryName"
                              aria-describedby="basic-addon1"
                              required
                            />
                          </div>
                        </div>
                        <div class="description mt-2">
                          <label class="d-block " for="">Description</label>
                          <div class="input-group mb-4 mt-3">
                              <textarea class="w-100 p-2" name="description" id="" rows="7"></textarea>
                            </div>
                          </div>
                        <div class="department mt-4 w-100 ">          
                          <div class="input-group mb-3 ">
                             <select class="text-center" name="category_name" id="">
                              <option value="">Select Category</option>
                              {% for category in categories %}
                              <option value="{{category.category_name}}">{{category.category_name}}</option>
                              {% endfor %}
                             </select>
                            </div>
          
                      </div> 
                          
                        </div>     
               
                
              </div>
  
            <div class="add ps-5 pe-5 mt-3 pb-3">
              <button type="button" class="btn  rounded text-uppercase fw-bold fs-6" data-bs-dismiss="modal" style="border-width: 0.1mm;border-color: #0892A5;">cancel</button>
              <button type="submit" data-bs-toggle="modal" data-bs-target="#addSubCatSuccess" class="btn  rounded text-uppercase text-white border fw-bold fs-6" style="background-color: #0892A5; border-color: #0892A5;">Add</button>
            </div>
          </form>
          </div>
        </div>
      </div>
      <!--END add sub-category model -->
       <!-- add department model -->
       <div class="modal fade " id="adddepart" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content p-2 " style="height: 560px;">
            
              <div class="modal-title  mt-4" >
                <h5 class="ms-5" style="color: #0892A5;opacity: 80%;font-weight: bold;">Add New Department</h5>
              </div>
          
              <div class="user-name ps-5 pe-5 mt-3">

                <form  name="departform" method="post" action="">
                  {% csrf_token %}
                  <input type="hidden" name="form_name" value="departform">
                    <div class="name ">
                        <div class="departname">
                        <label class="d-block " for="">Department Name</label>
                        <div class="input-group mb-3 mt-3">
                            <span class="input-group-text " id="basic-addon1"><i class='bx bx-folder' style="font-size: 30px;"></i></span>
                            <input
                            name="department"
                              type="text"
                              class="form-control"
                              placeholder="Department Name"
                              aria-label="DepartmentName"
                              aria-describedby="basic-addon1"
                              required
                            />
                          </div>
                        </div>
                        <div class="hod mt-2">
                          <label class="d-block " for="">Head of Department</label>
                          <div class="input-group mb-3 mt-3">
                              <span class="input-group-text " id="basic-addon1"><i class='bx bxs-user-badge' style="font-size: 30px;"></i></span>
                              <input
                              name="hod"
                                type="text"
                                class="form-control"
                                placeholder="Head of Department"
                                aria-label="hod"
                                aria-describedby="basic-addon1"
                                required
                              />
                            </div>
                          </div>
                        <div class="description mt-2">
                          <label class="d-block " for="">Description</label>
                          <div class="input-group mb-3 mt-3">
                              <textarea class="w-100 p-2" name="description" id="" rows="5"></textarea>
                            </div>
                          </div>
                          
                          
                        </div>     
               
                
              </div>
  
            <div class="add ps-5 pe-5 mt-3 pb-3">
              <button type="button" class="btn  rounded text-uppercase fw-bold fs-6" data-bs-dismiss="modal" style="border-width: 0.1mm;border-color: #0892A5;">cancel</button>
              <button type="submit" data-bs-toggle="modal" data-bs-target="#addDepartSuccess" class="btn  rounded text-uppercase text-white border fw-bold fs-6" style="background-color: #0892A5; border-color: #0892A5;">Add</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </section>

<!-- this is the modal that displays msg -->
<div>
  <div class="modal" tabindex="-1" role="dialog" id="message-modal" style="background-color: rgba(0, 0, 0, 0.4);">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="color: #0892A5; border-color: #0892A5; background-color: white;">
        <div class="" style="display: flex; justify-content: space-between;">
          <p class="modal-title"></p>
          <button type="button" class="btn" id="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="message-text" style="text-align: center;"></p>
        </div>
      </div>
    </div>
  </div>
  <!-- handle msg -->
  {% if messages %}
  <script>
    const messageText = document.getElementById("message-text");
    messageText.innerHTML = "{% for message in messages %}{{ message }}{% endfor %}";
    const messageModal = document.getElementById("message-modal");
    messageModal.style.display = "block";
  </script>
  {% endif %}
  <script> 
  const closeBtn = document.querySelector('#close')
  closeBtn.addEventListener("click", function(){
      messageModal.style.display = "none";
  })
  setTimeout(function() {
    messageModal.style.display = "none";
  }, 10000);
  </script> 
</div>

<script src="{% static 'js/script.js' %}"></script>
<script src="{% static 'js/profile.js' %}"></script>

</body>
</html>
