<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title> GCIT Finance App</title>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/profile.css' %}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
   
   </head>
<body>
  <div class="sidebar open">
    <div class="logo-details">
      <img class=" gcit_logo" src="{% static '/images/GCIT_logo.png' %}" alt="" >
      <!-- <i class='bx bxl-c-plus-plus icon'></i>
        <div class="logo_name">CodingLab</div> -->
        <i class='bx bx-menu' id="btn" style="font-size: 30px;"></i>       
    </div>
    <div class="logo-details">
      <img class="logo" src="{% static '/images/logo.png' %}" alt="">
    </div>
    <!-- Role -->
    <div class="logo-details ms-5" style="margin-top: 150px;">
      <p class=" ms-4 text-uppercase" style="font-size: 30px">admin</p>
      
     
    </div>
    <hr class="w-100 " style="height: 3px; background-color: black;opacity:50%;">
    <ul class="nav-list">
      <li>
        <a class="dashboard text-light active" href="{% url 'admin_dashboard' %}">
          <i class='bx bx-grid-alt me-5 ' style="font-size: 30px;"></i>
          <span class="links_name">Dashboard</span>
        </a>

      </li>
      <li>
       <a class="add" href="{% url 'admin_add' %}">
         <i class='bx bx-plus-circle  me-5' style="font-size: 30px;" ></i>
         <span class="links_name">Add</span>
       </a>

     </li>
     <li>
       <a class="edit" href="{% url 'admin_edit' %}">
         <i class='bx bx-edit  me-5' style="font-size: 30px;"></i>
         <span class="links_name">Edit</span>
       </a>

     </li>
  
    </ul>
  </div>
     <!-- log out model -->
     <div class="modal fade " id="exampleModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-2 ">
          <div class="modal-header ">
            <h5 class="modal-title fw-bold" id="exampleModalLabel">Confirmation</h5>
          </div>
          <div class="modal-body fw-bold">
            Are you sure you want to log out?
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn  rounded text-uppercase fw-bold fs-6" data-bs-dismiss="modal" style="border-width: 0.1mm;border-color: #0892A5;">Close</button>
            <button type="button" class="btn  rounded text-uppercase text-white border fw-bold fs-6" style="background-color: #0892A5; border-color: #0892A5;"><a href='../logout' style="text-decoration:none; color:black">Logout</a></button>
          </div>
        </div>
      </div>
    </div>
 
    <!--END log out model -->
  <section class="home-section">
    {% csrf_token %}  
   
     
      <div class="content ps-2 pe-2">
             <!-- Porfile -->
             <div class="hero">
              <nav>
                <div class="header  container-fluid">
                  <div class="text pt-3 ps-3">ADMIN DASHBOARD</div> 
                </div>
              </nav>
            </div>
      
            <div class="action">
              <div class="d-flex">
              <span class="username mt-1 pe-2" id="#username">{{request.session.first_name}}</span>
              <div class="profile text-white" id="profile" onclick="menuToggle();">
                A
              </div>
              
              <div class="menu shadow-lg">
                <ul>
                  <li class=" p-2 me-4 mt-3"><i class="bx bx-user-circle pe-2 " style="font-size: 25px;" ></i><a href="../admin_dashboard_profile">My Profile</a></li>
                  <li  class=" p-2 me-4" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bx bx-log-out pe-2" style="font-size: 25px;" ></i>Logout</li>
                  </div>
                </div>
              </div>
        <div class="title">
          <h5 class="ms-4" style="opacity: 80%;font-weight: bold;">User Statistics</h5>
        </div>
         <!--nav-pills-->
         
         <ul class="nav nav-pills justify-content-between mb-3 row-cols-3 gx-5 p-2">
          <li class="nav-item  col  ps-3 pe-3" >
              <a class="nav-link  text-center rounded p-3 shadow-sm active " data-bs-toggle="pill" href="#pills-1">  
                <h5>All Users</h5>
              <h3>{{user_count}}</h3>
              </a>
          </li>
          <li class="nav-item one col ps-3 pe-3" >
            <a class="nav-link  text-center rounded p-3 shadow-sm  " data-bs-toggle="pill" href="#pills-2">
              <h5>Head of Department</h5>
              <h3>{{hod_count}}</h3>
            </a>
        </li>
          <li class="nav-item one col  ps-3 pe-3">
                  <a class="nav-link  text-center rounded p-3 shadow-sm  " data-bs-toggle="pill" href="#pills-3">
                    <h5>Finance Team</h5>
              <h3>{{fteam_count}}</h3>
                  </a>
          </li>
          <li class="nav-item col mt-4  ps-3 pe-3" >
            <a class="nav-link  text-center rounded p-3 shadow-sm  " data-bs-toggle="pill" href="#pills-4">
              <h5>President</h5>
            <h3>{{ president_count }}</h3>
            </a>
        </li>
        <li class="nav-item col mt-4  ps-3 pe-3" >
          <a class="nav-link  text-center rounded p-3 shadow-sm   " data-bs-toggle="pill" href="#pills-5">
            <h5>Head of Finance</h5>
            <h3>{{ hof_count }}</h3>
          </a>
      </li>
        <li class="nav-item col mt-4  ps-3 pe-3">
                <a class="nav-link  text-center rounded p-3 shadow-sm  " data-bs-toggle="pill" href="#pills-6">
                  <h5>Staff</h5>
            <h3>{{staff_count}}</h3>
                </a>
        </li>
      </ul>
      <!--nav-pills end-->
      <!-- lists -->
      <div class="tab-content ps-4 pe-4">
          <!-- list of all users -->
          <div class="tab-pane fade show active pb-3" id="pills-1">
            <div class="user-details mt-4 bg-white ps-2 pe-2 me-2 border border-dark"  style="height: 360px; overflow-y: scroll;" >
              <div class="text-center mt-2 " style="background-color: #F0F4F6;"><h5 class="p-2">All user</h5></div>
              <div class="table-responsive">
               
                <table class="table">       
                  <thead>
                    <tr>
                      <th scope="col">Sl No.</th>
                      <th scope="col">Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Department</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                  {%for user in data%}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{user.first_name}} {{user.last_name}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.department}}</td>
                        </tr>

                
                  {% endfor %} 
                    {% comment %} <tr class="table-">
                      <th scope="row">1</th>
                      <td >Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr class="table-">
                      <th scope="row">3</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">4</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr>
                    <tr class="table-">
                      <th scope="row">1</th>
                      <td>Mark</td>
                      <td>Otto</td>
                      <td>@mdo</td>
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Jacob</td>
                      <td>Thornton</td>
                      <td>@fat</td>
                    </tr> {% endcomment %}
                    
                  </tbody>
                
                </table>
              </div>
              </div>
    
              </div>
          
          <!-- end list of all users -->
          <!-- head of department -->
          <div class="tab-pane fade" id="pills-2">
            <div class="user-details mt-4 bg-white ps-2 pe-2 me-2 border border-dark"  style="height: 360px; overflow-y: scroll;" >
              <div class="text-center mt-2" style="background-color: #F0F4F6;"><h5 class="p-2"> Head of Department</h5></div>
              <div class="table-responsive">
                <table class="table">    
                  
                  <thead>
                    <tr>
                      <th scope="col">Sl No.</th>
                      <th scope="col">Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Department</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    {%for user in hod_data%}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{user.first_name}} {{user.last_name}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.department}}</td>
                    </tr>

            
              {% endfor %} 
                    
                  </tbody>
                
                </table>
              </div>
              </div>
          </div>
          <!--END head of department -->
          <!-- Finance Team -->
      <div class="tab-pane fade" id="pills-3">
        <div class="user-details mt-4 bg-white ps-2 pe-2 me-2 border border-dark"  style="height: 360px; overflow-y: scroll;" >
          <div class="text-center mt-2 " style="background-color: #F0F4F6;"><h5 class="p-2">List of Finance Team</h5></div>
          <div class="table-responsive">
            <table class="table">   
              
              <thead>
                <tr>
                  <th scope="col">Sl No.</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Department</th>
                  
                </tr>
              </thead>
              <tbody>
                {%for user in fteam_data%}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{user.first_name}} {{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.department}}</td>
                </tr>

        
          {% endfor %} 
                
              </tbody>
            
            </table>
          </div>
          </div>
      </div>
      <!--END finance team-->
      <!-- President -->
  <div class="tab-pane fade" id="pills-4">
    <div class="user-details mt-4 bg-white ps-2 pe-2 me-2 border border-dark"  style="height: 360px; overflow-y: scroll;" >
      <div class="text-center mt-2 " style="background-color: #F0F4F6;"><h5 class="p-2"> President</h5></div>
      <div class="table-responsive">
        <table class="table"> 
          
          <thead>
            <tr>
              <th scope="col">Sl No.</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Department</th>
              
            </tr>
          </thead>
          <tbody>
            {%for user in president_data%}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{user.first_name}} {{user.last_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.department}}</td>
            </tr>

    
      {% endfor %} 
            
          </tbody>
        
        </table>
      </div>
      </div>
</div>
<!-- END president -->
<!-- head of Finance -->
<div class="tab-pane fade" id="pills-5">
  <div class="user-details mt-4 bg-white ps-2 pe-2 me-2 border border-dark"  style="height: 360px; overflow-y: scroll;" >
    <div class="text-center mt-2 " style="background-color: #F0F4F6;"><h5 class="p-2"> Head of Finance</h5></div>
    <div class="table-responsive">
      <table class="table">   
       
        <thead>
          <tr>
            <th scope="col">Sl No.</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Department</th>
            
          </tr>
        </thead>
        <tbody>
          {%for user in hof_data%}
          <tr>
              <td>{{forloop.counter}}</td>
              <td>{{user.first_name}} {{user.last_name}}</td>
              <td>{{user.email}}</td>
              <td>{{user.department}}</td>
          </tr>

  
    {% endfor %} 
          
        </tbody>
      
      </table>
    </div>
    </div>
</div>
<!--END head of Finance -->
<!-- staff -->
<div class="tab-pane fade" id="pills-6">
  <div class="user-details mt-4 bg-white ps-2 pe-2 me-2 border border-dark"  style="height: 360px; overflow-y: scroll;" >
    <div class="text-center mt-2 " style="background-color: #F0F4F6;"><h5 class="p-2">List of Staff</h5></div>
    <div class="table-responsive">
      <table class="table">  
         
        <thead>
          <tr>
            <th scope="col">Sl No.</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Department</th>
            
          </tr>
        </thead>
        <tbody>
          {%for user in staff_data%}
          <tr>
              <td>{{forloop.counter}}</td>
              <td>{{user.first_name}} {{user.last_name}}</td>
              <td>{{user.email}}</td>
              <td>{{user.department}}</td>
          </tr>

  
    {% endfor %} 
        </tbody>
      
      </table>
    </div>
    </div>
</div>

<!--END staff -->
</div>
<!-- lists -->

        
      </div>
  </section>
  <script src="{% static '/js/script.js' %}"></script>
  <script src="{% static '/js/pagination.js' %}"></script>
  <script src="{% static '/js/profile.js' %}"></script> 

</body>
</html>
