<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="UTF-8">
    <title> GCIT Finance App</title>
    <link rel="stylesheet" href={% static '/css/style.css' %}>
    <link rel="stylesheet" href={% static '/css/admin_add_edit.css' %}>
    <link rel="stylesheet" href={% static '/css/add_user.css' %}>
    <link rel="stylesheet" href={% static '/css/profile.css' %}>
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://kit.fontawesome.com/6671961b0d.js" crossorigin="anonymous"></script>
   </head>
<body>
  <div class="sidebar open">
    <div class="logo-details">
      <img class=" gcit_logo" src={% static '/images/GCIT_logo.png' %} alt="" >
      <!-- <i class='bx bxl-c-plus-plus icon'></i>
        <div class="logo_name">CodingLab</div> -->
        <i class='bx bx-menu' id="btn" style="font-size: 30px;"></i>       
    </div>
    <div class="logo-details">
      <img class="logo" src={% static '/images/logo.png' %} alt="">
    </div>
    <!-- Role -->
    <div class="logo-details ms-5" style="margin-top: 150px;">
      <p class=" ms-4 text-uppercase" style="font-size: 30px;">admin</p>
      
     
    </div>
    <hr class="w-100" style="height: 3px; background-color: black;opacity:50%;">
    <ul class="nav-list">
      <li>
        <a class=" " href="../admin_dashboard">
          <i class='bx bx-grid-alt me-5 ' style="font-size: 30px;"></i>
          <span class="links_name">Dashboard</span>
        </a>

      </li>
      <li>
       <a class=" text-light active" href="../admin_add">
         <i class='bx bx-plus-circle  me-5' style="font-size: 30px;" ></i>
         <span class="links_name">Add</span>
       </a>

     </li>
     <li>
       <a class="edit dashboard" href="../admin_edit">
         <i class='bx bx-edit  me-5' style="font-size: 30px;"></i>
         <span class="links_name">Edit</span>
       </a>

     </li>
     
    </ul>
  </div>
     <!-- log out model -->
     <div class="modal fade " id="exampleModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-2 ">
          <div class="modal-header ">
            <h5 class="modal-title fw-bold" id="exampleModalLabel">Confirmation</h5>
          </div>
          <div class="modal-body fw-bold">
            Are you sure you want to log out?
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn  rounded text-uppercase fw-bold fs-6" data-bs-dismiss="modal" style="border-width: 0.1mm;border-color: #0892A5;">cancel</button>
            <button type="button" class="btn  rounded text-uppercase text-white border fw-bold fs-6" style="background-color: #0892A5; border-color: #0892A5;"><a href='../logout' style="text-decoration:none; color:black">Logout</a></button>
          </div>
        </div>
      </div>
    </div>
    <!--END log out model -->
    <section class="home-section">
        <div class="content ps-3 pe-3">
          <div class="hero">
            <nav>
              <div class="header  container-fluid">
                <div class="text pt-3 ps-1">ADMIN DASHBOARD</div> 
              </div>
            </nav>
          </div>
    
          <div class="action">
            <div class="d-flex">
            <span class="username mt-1 pe-2" id="#username">{{request.session.first_name}}</span>
            <div class="profile text-white" id="profile" onclick="menuToggle();">
              A
            </div>
            
            <div class="menu shadow-lg">
              <ul>
                <li class=" p-2 me-4 mt-3"><i class="bx bx-user-circle pe-2 " style="font-size: 25px;" ></i><a href="">My Profile</a></li>
                <li  class=" p-2 me-4" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bx bx-log-out pe-2" style="font-size: 25px;" ></i>Logout</li>
                </div>
              </div>
            </div> 
        <div class="add-options ps-3 pe-3 mt-3 pb-4">
          <h5 class="fw-bold pt-3 pb-4" style="color: #0892A5;">My Profile</h5>
          
          <div class="container rounded bg-white mb-5">
            <div class="row">
                <div class="col-md-3 border-right">
                    <div class="d-flex flex-column align-items-center text-center  py-5">
                        <Div  class="avatar d-flex align-items-center item-center">
                            <span class="text-white">L</span>
                        </Div> 
                       <span class="mt-1">{{name}}</span>
                       <span class="mt-1">{{role}}</span>
                       <span>{{department}}</span>
                    </div>
                   
                </div>
                
                <div class="col border-right">
                    <div class="ps-3 pe-3 py-5">
                        <form action="" id="text" method="POST" >
                        {% csrf_token %}
                    
                        <div class="row">
                            <div  class="col-md-6 mt-3"><label class="labels ">First Name</label><input type="text" id="1"  class="form-control mt-1" placeholder="first name" value={{firstname}} readonly></div>
                            <div class="col-md-6 mt-3"><label class="labels">Last Name</label><input type="text" id="2"   class="form-control mt-1" value={{secondname}} placeholder="surname" readonly></div>
                        </div>
                        <div class="row mt-3 pb-4">
                            <div class="col-md-12"><label class="labels">Employee ID</label><input type="text" id="3"  class="form-control mt-1" placeholder="enter phone number" value={{empID}} readonly></div>
                            <div class="col-md-12 mt-3"><label class="labels">Email</label><input type="text" id="4"  class="form-control mt-1" placeholder="enter address line 1" value={{email}} readonly></div>
         
                        </div >
                        <div class="row mt-3 pb-4" id="newPasswords">

                           <h3  class="labels text-center text-dark fw-bold">Password setting</h3>
                            <div class="col-md-12 password">
                                <label  class="labels">Current Password</label>
                            <input type="text" id="typePasswordX" name='old_password'
                            class="form-control mt-1" /> 
                            </div>
                            <div class="col-md-12 mt-3">
                                <label  class="labels">New Password</label>
                            <input type="text" id="typePasswordX" name='new_password'
                            class="form-control mt-1" /> 
                            </div>
                            <div class="col-md-12 mt-3">
                                <label  class="labels" >Confirm New Password</label>
                            <input type="password" id="typePasswordX"
                            class="form-control mt-1" /> 
                            </div>
         
                        </div >
                        <div class="profileBtn">
                        <div class="mt-1 text-center w-100" id="editProfile">
                            <button class="btn btn-primary profile-button w-100 border border-white " id="removeAttribute" type="button">Edit Profile</button>
                        </div>
                        <div class="mt-1 text-center w-100" id="saveProfile">
                            <button class="btn btn-primary profile-button border border-white  w-100"  data-bs-toggle="modal" data-bs-target="#changesConfirmation"  id="addAttribute" type="submit">Save Changes</button>
                        </div>
                        <div class="mt-1 text-center w-100" id="changepw"><button class="btn btn-primary profile-button w-100 border border-white" id="passwordOption" type="button">Change Password</button></div>
                    </div>
                </form>
                          
                      </div>
                  </div>        
              </div>
          </div>
  
  
  
  
          </div>
          </div>
            
        </div>
    
            </div>
          </div>
  
                 <!-- save changes confirmation-->
         <div class="modal fade " id="changesConfirmation" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content p-2 ">
              <div class="modal-header ">
                <h5 class="modal-title fw-bold" id="exampleModalLabel">Confirmation</h5>
              </div>
              <div class="modal-body fw-bold">
                Are you sure you want save the changes?
              </div>
              <div class="modal-footer ">
                <button type="button" class="btn  rounded text-uppercase fw-bold fs-6" data-bs-dismiss="modal" style="border-width: 0.1mm;border-color: #0892A5;">cancel</button>
                <button type="button"  class="btn  rounded text-uppercase text-white border fw-bold fs-6" data-bs-toggle="modal" data-bs-target="#changesSuccess"  style="background-color: #0892A5; border-color: #0892A5;">save changes</button>
              </div>
            </div>
          </div>
        </div>
     
     
     
        <!--END-->
         <!-- success changes success-->
  
         <div class="modal fade" id="changesSuccess" tabindex="-1"  aria-labelledby="exampleModalLabel" aria-hidden="true" >
          <div class="modal-dialog modal-dialog-centered p-5">
            <div class="modal-content p-2 me-3" style="background-color: #0892A5;border-radius: 20px;" >
              
                <div class="modal-title  mt-5 text-center" >
                  <i class='fa-regular fa-circle-check mt-5 fa-shake' style="font-size: 80px;color: white; --fa-animation-iteration-count: 1;"></i>
  
                  <p class="text-white mt-5 fs-5 fw-lighter">Changes Saved</p>
                </div>
            
            
    
              <div class="add ps-5 pe-5 mt-2 mb-5 pb-3 text-center">
              <button type="button" onclick="saveChanges()" class="btn mt-5 mb-3  rounded text-uppercase  border fw-bold fs-6 w-50"  style="background-color: #ffffff; border-color: #ffffff;color: #0892A5;">ok</button>
                
                </div>
          
            </div>
          </div>
        </div>
  
        <!-- END success changes -->
      </section>
  

<script src={% static 'js/script.js' %}></script>
<script src={% static 'js/profile.js' %}></script>
  <script>
    const togglePassword = document.querySelector('#togglePassword');
     const password = document.querySelector('#typePasswordX');
 
     togglePassword.addEventListener('click', function (e) {
         // toggle the type attribute
         const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
         password.setAttribute('type', type);
         // toggle the eye slash icon
         this.classList.toggle('fa-eye-slash');
         
     });
     function saveChanges() {
   location.href="admin_dashboard(profile).html"
 }
     </script>

</body>
</html>
