{% load static %}
<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title> GCIT Finance App</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_add_edit.css' %}">
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
    <link rel="stylesheet" href="{% static 'css/add_user.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">

    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/6671961b0d.js" crossorigin="anonymous"></script>
   
   </head>
<body>
  <div class="sidebar open">
    <div class="logo-details">
      <img class=" gcit_logo" src="{% static 'images/GCIT_logo.png' %}" alt="" >
      <!-- <i class='bx bxl-c-plus-plus icon'></i>
        <div class="logo_name">CodingLab</div> -->
        <i class='bx bx-menu' id="btn" style="font-size: 30px;"></i>       
    </div>
    <div class="logo-details">
      <img class="logo" src="{% static 'images/logo.png' %}" alt="">
    </div>
    <!-- Role -->
    <div class="logo-details ms-5" style="margin-top: 150px;">
      <p class=" ms-4 text-uppercase" style="font-size: 30px">admin</p>
      
     
    </div>
    <hr class="w-100 " style="height: 3px; background-color: black;opacity:50%;">
    <ul class="nav-list">
      <li>
        <a class=" text-light" href="{% url 'admin_dashboard' %}">
          <i class='bx bx-grid-alt me-5 ' style="font-size: 30px;"></i>
          <span class="links_name">Dashboard</span>
        </a>

      </li>
      <li>
       <a class="add" href="{% url 'admin_add' %}">
         <i class='bx bx-plus-circle  me-5' style="font-size: 30px;" ></i>
         <span class="links_name">Add</span>
       </a>

     </li>
     <li>
       <a class="dashboard active" href="{% url 'admin_edit' %}">
         <i class='bx bx-edit  me-5' style="font-size: 30px;"></i>
         <span class="links_name">Edit</span>
       </a>

     </li>
   
    </ul>
  </div>
     <!-- log out model -->
     <div class="modal fade " id="exampleModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-2 ">
          <div class="modal-header ">
            <h5 class="modal-title fw-bold" id="exampleModalLabel">Confirmation</h5>
          </div>
          <div class="modal-body fw-bold">
            Are you sure you want to log out?
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn  rounded text-uppercase fw-bold fs-6" data-bs-dismiss="modal" style="border-width: 0.1mm;border-color: #0892A5;">Close</button>
            <button type="button" class="btn  rounded text-uppercase text-white border fw-bold fs-6" style="background-color: #0892A5; border-color: #0892A5;"><a href='../logout' style="text-decoration:none; color:black">Logout</a></button>
          </div>
        </div>
      </div>
    </div>
 
    <!--END log out model -->
  <section class="home-section">
    <div class="content ps-2 pe-2">
      <!-- Porfile -->
      <div class="hero">
       <nav>
         <div class="header  container-fluid">
           <div class="text pt-3 ps-3">ADMIN DASHBOARD</div> 
         </div>
       </nav>
     </div>

     <div class="action">
       <div class="d-flex">
       <span class="username mt-1 pe-2" id="#username">{{request.session.first_name}}</span>
       <div class="profile text-white" id="profile" onclick="menuToggle();">
         A
       </div>
       
       <div class="menu shadow-lg">
         <ul>
           <li class=" p-2 me-4 mt-3"><i class="bx bx-user-circle pe-2 " style="font-size: 25px;" ></i><a href="../admin_edit_profile">My Profile</a></li>
           <li  class=" p-2 me-4" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bx bx-log-out pe-2" style="font-size: 25px;" ></i></i>Logout</li>
           </div>
         </div>
       </div>
      <div class="title">
        <h5 class="ms-4" style="opacity: 80%;font-weight: bold;color:#0892A5 ;">Edit Employee</h5>
      </div>
      <div class="tab-content ps-4 pe-4">
        <div class="row sort">

          <div class="col-md-8 container mb-2">

            <div class="row height d-flex justify-content-center align-items-center">

              <div class="col">

                <div class="search">
                  <i class="bx bx-search"></i>
                  <input type="text" class="form-control" placeholder="search employee">
                  <button class="btn btn-primary">Search</button>
                </div>
                
              </div>
              
            </div>
        </div>

       <div class="department col me-2">          
        <div class=" w-100">
           <select class="text-center w-100" name="" id="" >
            <option value="">Select Department</option>
            <option value="">Library Services</option>
            <option value="">Student Services</option>
            <option value="">Finance Department</option>
            <option value="">Food Services</option>
            <option value="">Technopreneurship</option>

           </select>
          </div>

    </div>
  </div>

  <!-- list of all users -->
  <div class="tab-pane fade show active pb-3" id="pills-1">
    <div class="user-details mt-4 bg-white ps-2 pe-2 me-2 border border-dark" >
      <section class="header d-none">
          <div class="items-controller d-flex ">
              <h5>Show</h5>
              <select name="" id="itemperpage">
                <option value="01">01</option>
                  <option value="04">04</option>
                  <option value="05">05</option>
                  <option value="08" selected>08</option>
                  <option value="10">10</option>
                  <option value="15">15</option>
              </select>
              <h5>Per Page</h5>
          </div>
      </section>
      <section class="field">
        <div class="table-responsive">

          <table class="table" id="table">
              <thead>
                  <tr>
                    <th scope="col">Sl.No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Department</th>
                    <th scope="col">Role</th>
                    <th scope="col">Action</th>

                  </tr>
                </thead>
                <tbody>
                  {% for employee in employees %}
                  <tr class="table-" data-id="{{employee.id}}">
                    <th scope="row">{{ forloop.counter }}</th>
                      <td class="employee-name">{{employee.first_name}} {{employee.last_name}}</td>
                      <td class="employee-email">{{employee.email}}</td>
                      <td class="employee-department">{{employee.department}}</td>
                      <td class="employee-role">{{employee.role}}</td>

                      <td style="display: none;" class="e-fname">{{employee.first_name}}</td>
                      <td style="display: none;" class="e-lname">{{employee.last_name}}</td>
                      <td style="display: none;" class="e-email">{{employee.email}}</td>
                      <td style="display: none;" class="e-id">{{employee.employee_id}}</td>
                      <td style="display: none;" class="e-tpsd">{{employee.temp_password}}</td>
                      <td style="display: flex;">
                        <a 
                        class="edit-button" data-id={{employee.id}}
                        class="delete text-dark" data-bs-toggle="modal" data-bs-target="#edit">
                        <i class="bx bx-edit" style="font-size:25px;color:#0892A5"></i></a>
                        
                        <span class="me-3"></span>
                        
                        <form method="post" id="{{employee.id}}">
                          {% csrf_token %}
                          <input type="hidden" name="form_name" value="deleteForm">
                          <input type="hidden" name="id"  value="{{employee.id}}">
                          <input type="submit" value="delete" hidden>
                          <a 
                          onclick="document.getElementById('{{employee.id}}').submit()"
                          class="delete text-dark" data-bs-toggle="modal" data-bs-target="#delete">
                            <i class="bx bx-trash" style="font-size:25px;opacity: 60%;"></i></a>
                        </form>

                      </td>
                  </tr>
                {% endfor %}
                </tbody>
          </table>

          </div>
          <div class="bottom-field">
              <ul class="pagination">
                <li class="prev"><a href="#" id="prev">&#139;</a></li>
                  <!-- page number here -->
                <li class="next"><a href="#" id="next">&#155;</a></li>
              </ul>
          </div>
      </section>
    </div>

      </div>

      </div>
    </div>
  </section>
    <!-- DELETE -->
    <!-- <div class="modal fade " id="delete" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-2 ">
          <div class="modal-header ">
            <h5 class="modal-title fw-bold" id="exampleModalLabel">Confirmation</h5>
          </div>
          <div class="modal-body fw-bold">
            Are you sure to DELETE this user?
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn  rounded text-uppercase fw-bold fs-6" data-bs-dismiss="modal" style="border-width: 0.1mm;border-color: #0892A5;">cancel</button>
            <button 
            onclick="document.getElementById('deleteForm').submit();"
            type="button" data-bs-toggle="modal" data-bs-target="#deleteSuccess" class="btn  rounded text-uppercase text-white border fw-bold fs-6" style="background-color: #0892A5; border-color: #0892A5;">delete</button>
          </div>
        </div>
      </div>
    </div> -->

    <!--END success deletion message -->
    <!-- edit_user -->

    <div class="modal fade " id="edit" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-2 ">
          
            <div class="modal-title  mt-3" >
              <h5 class="text-center" style="color: #0892A5;opacity: 80%;font-weight: bold;">Edit Employee</h5>
            </div>
        
            <div class="new-user ps-5 pe-5 mt-2">
              <div class="text-center">
                <label  for="">Sub-category Name</label> <br>
                <div class="  w-100">                    
                  <div class="input-group mb-3 mt-2">
                      <span class="input-group-text " id="basic-addon1"><i class='bx bx-category' style="font-size: 30px;"></i></span>
                      <input
                      id="e-name-input"
                        type="text"
                        class="form-control"
                        placeholder="Sub-category Name"
                        aria-label="SubCategoryName"
                        aria-describedby="basic-addon1"
                        required disabled
                      />
                    </div>
                </div>  
              <br></div>

              <form  name="userform" method="post" action="">
                {% csrf_token %}
                <input type="hidden" name="form_name" value="userform">  
                <input type="hidden" name="id" id="update_id">

                <label  for="">Department</label> <br>  
                <div class="department mt-2 w-100 ">        
                    <div class="input-group mb-3 "> 
                       <select class="text-center" name="department" id="e-department-input">
                        {% for department in departments %}
                        <option value="{{department.department}}">{{department.department}}</option>
                        {% endfor %}
                       </select>
                      </div>
    
                </div>       

                <label  for="">Role</label> <br>
                  <div class="role  w-100">                    
                      <div class="input-group mb-3">
                         <select class="text-center"  name="role" id="e-role-input">
                          <option value="Staff">Staff</option>
                          <option value="President">President</option>
                          <option value="Head of Department">Head of Department</option>
                          <option value="Head of Finance">Head of Finance</option>
                          <option value="Finance Team">Finance Team</option>
      
                         </select>
                        </div>
                  </div>    
            </div>

            <input type="hidden" class="e-fname-form" name="first_name">
            <input type="hidden" class="e-lname-form" name="last_name">
            <input type="hidden" class="e-email-form" name="email">
            <input type="hidden" class="e-id-form" name="employee_id">
            <input type="hidden" class="e-tpsd-form" name="temp_password">

          <div class="add ps-5 pe-5 mt-2 pb-3">
            <button type="button" class="btn  rounded text-uppercase fw-bold fs-6" data-bs-dismiss="modal" style="border-width: 0.1mm;border-color: #0892A5;">cancel</button>
            <button data-bs-toggle="modal" data-bs-target="#editSuccess" 
            type="submit" class="btn  rounded text-uppercase text-white border fw-bold fs-6" 
            style="background-color: #0892A5; border-color: #0892A5;">Save changes</button>
          </div>
        </form>

        </div>
      </div>
    </div>


     <!--END edit_user -->
     <!-- save changes -->
     <!-- <div class="modal fade" id="editSuccess" tabindex="-1"  aria-labelledby="exampleModalLabel" aria-hidden="true" >
      <div class="modal-dialog modal-dialog-centered p-5">
        <div class="modal-content p-2 me-3" style="background-color: #0892A5;border-radius: 20px;" >
          
            <div class="modal-title  mt-5 text-center" >
              <i class='fa-regular fa-circle-check mt-5' style="font-size: 80px;color: white;"></i>

              <p class="text-white mt-5 fs-5 fw-lighter">Changes Saved</p>
            </div>

          <div class="add ps-5 pe-5 mt-2 mb-5 pb-3 text-center">
            <a href="edit_user.html"><button type="button" class="btn mt-5 mb-3  rounded text-uppercase  border fw-bold fs-6 " style="background-color: #ffffff; border-color: #ffffff;color: #0892A5;">ok</button>
            </a>
            </div>
        </div>
      </div>
    </div> -->

    <!--END save changes message -->
  </div>
</section>

<!-- this is the modal that displays msg -->
<div>
  <div class="modal" tabindex="-1" role="dialog" id="message-modal" style="background-color: rgba(0, 0, 0, 0.4);">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="color: #0892A5; border-color: #0892A5; background-color: white;">
        <div class="" style="display: flex; justify-content: space-between;">
          <p class="modal-title"></p>
          <button type="button" class="btn" id="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="message-text" style="text-align: center;"></p>
        </div>
      </div>
    </div>
  </div>
  <!-- handle msg -->
  {% if messages %}
  <script>
    const messageText = document.getElementById("message-text");
    messageText.innerHTML = "{% for message in messages %}{{ message }}{% endfor %}";
    const messageModal = document.getElementById("message-modal");
    messageModal.style.display = "block";
  </script>
  {% endif %}
  <script> 
  const closeBtn = document.querySelector('#close')
  closeBtn.addEventListener("click", function(){
      messageModal.style.display = "none";
  })
  setTimeout(function() {
    messageModal.style.display = "none";
  }, 10000);
  </script> 
</div>

<script>
  const editButtons = document.querySelectorAll('.edit-button');
  const update_id = document.querySelector('#update_id');
  
  editButtons.forEach((button) => {
    button.addEventListener('click',
    () => {
      const rowId = button.getAttribute('data-id');
      update_id.value = rowId;
      //find the row by its id
      const row = document.querySelector(`#table tr[data-id='${rowId}']`);

      document.querySelector('#e-name-input').value = row.querySelector('.employee-name').innerText;
      document.querySelector('#e-role-input').value = row.querySelector('.employee-role').innerText;
      document.querySelector('#e-department-input').value = row.querySelector('.employee-department').innerText;

      document.querySelector('.e-fname-form').value = row.querySelector('.e-fname').innerText;
      document.querySelector('.e-lname-form').value = row.querySelector('.e-lname').innerText;
      document.querySelector('.e-email-form').value = row.querySelector('.e-email').innerText;
      document.querySelector('.e-id-form').value = row.querySelector('.e-id').innerText;
      document.querySelector('.e-tpsd-form').value = row.querySelector('.e-tpsd').innerText;

    })
  })
  </script>
<script src="{% static '/js/script.js' %}"></script>
<script src="{% static '/js/pagination.js' %}"></script>
<script src="{% static '/js/profile.js' %}"></script> 

</body>
</html>
