{% load static %}
<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Edit Category</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_add_edit.css' %}">
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
    <link rel="stylesheet" href="{% static 'css/add_user.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/6671961b0d.js" crossorigin="anonymous"></script>
   
   </head>
<body>
  <div class="sidebar open">
    <div class="logo-details">
      <img class=" gcit_logo" src="{% static 'images/GCIT_logo.png' %}" alt="" >
      <!-- <i class='bx bxl-c-plus-plus icon'></i>
        <div class="logo_name">CodingLab</div> -->
        <i class='bx bx-menu' id="btn" style="font-size: 30px;"></i>       
    </div>
    <div class="logo-details">
      <img class="logo" src="{% static 'images/logo.png' %}" alt="">
    </div>
    <!-- Role -->
    <div class="logo-details ms-5" style="margin-top: 150px;">
      <p class=" ms-4 text-uppercase" style="font-size: 30px">admin</p>
      
     
    </div>
    <hr class="w-100 " style="height: 3px; background-color: black;opacity:50%;">
    <ul class="nav-list">
      <li>
        <a class=" text-light" href="{% url 'admin_dashboard' %}">
          <i class='bx bx-grid-alt me-5 ' style="font-size: 30px;"></i>
          <span class="links_name">Dashboard</span>
        </a>

      </li>
      <li>
       <a class="add" href="{% url 'admin_add' %}">
         <i class='bx bx-plus-circle  me-5' style="font-size: 30px;" ></i>
         <span class="links_name">Add</span>
       </a>

     </li>
     <li>
       <a class="dashboard active" href="{% url 'admin_edit' %}">
         <i class='bx bx-edit  me-5' style="font-size: 30px;"></i>
         <span class="links_name">Edit</span>
       </a>

     </li>
    
    </ul>
  </div>
     <!-- log out model -->
     <div class="modal fade " id="exampleModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-2 ">
          <div class="modal-header ">
            <h5 class="modal-title fw-bold" id="exampleModalLabel">Confirmation</h5>
          </div>
          <div class="modal-body fw-bold">
            Are you sure you want to log out?
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn  rounded text-uppercase fw-bold fs-6" data-bs-dismiss="modal" style="border-width: 0.1mm;border-color: #0892A5;">Close</button>
            <button type="button" class="btn  rounded text-uppercase text-white border fw-bold fs-6" style="background-color: #0892A5; border-color: #0892A5;"><a href='../logout' style="text-decoration:none; color:black">Logout</a></button>
          </div>
        </div>
      </div>
    </div>
 
    <!--END log out model -->
  <section class="home-section">
    <div class="content ps-2 pe-2">
      <!-- Porfile -->
      <div class="hero">
       <nav>
         <div class="header  container-fluid">
           <div class="text pt-3 ps-3">ADMIN DASHBOARD</div> 
         </div>
       </nav>
     </div>

     <div class="action">
       <div class="d-flex">
       <span class="username mt-1 pe-2" id="#username">{{request.session.first_name}}</span>
       <div class="profile text-white" id="profile" onclick="menuToggle();">
         A
       </div>
       
       <div class="menu shadow-lg">
         <ul>
           <li class=" p-2 me-4 mt-3"><i class="bx bx-user-circle pe-2 " style="font-size: 25px;" ></i><a href="../admin_edit_profile">My Profile</a></li>
           <li  class=" p-2 me-4" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bx bx-log-out pe-2" style="font-size: 25px;" ></i></i>Logout</li>
           </div>
         </div>
       </div>
      <div class="title">
        <h5 class="ms-4 mt-2" style="opacity: 80%;font-weight: bold;color:#0892A5 ;">Edit Category</h5>
      </div>
      <div class="tab-content ps-4 pe-4">

        <!-- list of all users -->
        <div class="tab-pane fade show active pb-3" id="pills-1">
          <div class="user-details mt-4 bg-white ps-2 pe-2 me-2 border border-dark" >
            <section class="header d-none">
                <div class="items-controller d-flex ">
                    <h5>Show</h5>
                    <select name="" id="itemperpage">
                      <option value="01">01</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="08" selected>08</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                    </select>
                    <h5>Per Page</h5>
                </div>
            </section>
            <section class="field">
              <div class="table-responsive">

                <table class="table" id="categoryTable">
                    <thead>
                        <tr>
                          <th scope="col">Sl.No</th>
                          <th scope="col">Category</th>
                          <th scope="col">Action</th>

                        </tr>
                      </thead>
                      <tbody>
                        {% for category in categories %}
                        <tr class="table-" data-id="{{category.id}}">
                            <th scope="row">{{ forloop.counter }}</th>
                            <td class="category-name">{{ category.category_name }}</td>
                            <td class="category-desc" hidden>{{ category.description }}</td>
                            <td style="display: flex;">
                              <a 
                              class="edit-button" data-id={{category.id}}
                              class="delete text-dark" data-bs-toggle="modal" data-bs-target="#edit">
                              <i class="bx bx-edit" style="font-size:25px;color:#0892A5"></i></a>

                              <span class="me-3"></span>
                              
                              <form method="post" id="{{category.id}}">
                                {% csrf_token %}
                                <input type="hidden" name="form_name" value="deleteForm">
                                <input type="hidden" name="id"  value="{{category.id}}">
                                <input type="submit" value="delete" hidden>
                                <a 
                                onclick="document.getElementById('{{category.id}}').submit()"
                                class="delete text-dark" data-bs-toggle="modal" data-bs-target="#delete">
                                  <i class="bx bx-trash" style="font-size:25px;opacity: 60%;"></i></a>
                              </form>

                            </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                </table>
                </div>
                <div class="bottom-field">
                    <ul class="pagination">
                      <li class="prev"><a href="#" id="prev">&#139;</a></li>
                        <!-- page number here -->
                      <li class="next"><a href="#" id="next">&#155;</a></li>
                    </ul>
                </div>
            </section>
          </div>
  
            </div>

      </div>
    </div>
  </section>
    <!-- DELETE -->
    <!-- <div class="modal fade " id="delete" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-2 ">
          <div class="modal-header ">
            <h5 class="modal-title fw-bold" id="exampleModalLabel">Confirmation</h5>
          </div>
          <div class="modal-body fw-bold">
            Are you sure to DELETE this category?
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn  rounded text-uppercase fw-bold fs-6" data-bs-dismiss="modal" style="border-width: 0.1mm;border-color: #0892A5;">cancel</button>
            <button
            onclick="document.getElementById('deleteForm').submit();"
            type="button" data-bs-toggle="modal" data-bs-target="#deleteSuccess" class="btn  rounded text-uppercase text-white border fw-bold fs-6" style="background-color: #0892A5; border-color: #0892A5;">delete</button>
          </div>
        </div>
      </div>
    </div> -->

    <!--END success deletion message -->
    <!-- edit_user -->

    <div class="modal fade " id="edit" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-2 ">
          
            <div class="modal-title  mt-3" >
              <h5 class="text-center" style="color: #0892A5;opacity: 80%;font-weight: bold;">Edit category</h5>
            </div>
        
            <div class="new-user ps-5 pe-5 mt-2">

                <form  name="catform" method="post" action="">
                  {% csrf_token %}
                <input type="hidden" name="form_name" value="catform">
                <input type="hidden" name="id" id="update_id">

                    <div class="name ">
                        <div class="catname">
                        <label class="d-block " for="">Category Name</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text " id="basic-addon1"><i class='bx bx-category' style="font-size: 30px;"></i></span>

                            <input
                            id="category-name-input"
                            name="category_name"
                              type="text"
                              value=""
                              class="form-control"
                              placeholder="Category Name"
                              aria-label="CategoryName"
                              aria-describedby="basic-addon1"
                              required
                            />

                          </div>
                        </div>
                        <div class="description">
                          <label class="d-block " for="">Description</label>
                          <div class="input-group mb-3 mt-2">

                              <textarea class="w-100 p-2" name="description" id="category-desc-input" rows="5"
                              ></textarea>

                            </div>
                          </div>
                          
                        </div>     
              </div>

          <div class="add ps-5 pe-5 mt-2 pb-3">

            <button type="button" class="btn  rounded text-uppercase fw-bold fs-6" 
            data-bs-dismiss="modal" style="border-width: 0.1mm;border-color: #0892A5;">cancel</button>

            <button 
            data-bs-toggle="modal" data-bs-target="#editSuccess" 
            type="submit" class="btn  rounded text-uppercase text-white border fw-bold fs-6" 
            style="background-color: #0892A5; border-color: #0892A5;">Save changes</button>

          </div>
        </form>

        </div>
      </div>
    </div>

  </div>
</section>

<!-- this is the modal that displays msg -->
<div>
  <div class="modal" tabindex="-1" role="dialog" id="message-modal" style="background-color: rgba(0, 0, 0, 0.4);">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="color: #0892A5; border-color: #0892A5; background-color: white;">
        <div class="" style="display: flex; justify-content: space-between;">
          <p class="modal-title"></p>
          <button type="button" class="btn" id="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="message-text" style="text-align: center;"></p>
        </div>
      </div>
    </div>
  </div>
  <!-- handle msg -->
  {% if messages %}
  <script>
    const messageText = document.getElementById("message-text");
    messageText.innerHTML = "{% for message in messages %}{{ message }}{% endfor %}";
    const messageModal = document.getElementById("message-modal");
    messageModal.style.display = "block";
  </script>
  {% endif %}
  <script> 
  const closeBtn = document.querySelector('#close')
  closeBtn.addEventListener("click", function(){
      messageModal.style.display = "none";
  })
  setTimeout(function() {
    messageModal.style.display = "none";
  }, 10000);
  </script> 
</div>

<script>
const editButtons = document.querySelectorAll('.edit-button');
const update_id = document.querySelector('#update_id');
editButtons.forEach((button) => {
  button.addEventListener('click',
  () => {
    const rowId = button.getAttribute('data-id');
    update_id.value = rowId;
    //find the row by its id
    const row = document.querySelector(`#categoryTable tr[data-id='${rowId}']`);
    //find the category name cell
    const categoryNameCell = row.querySelector('.category-name');
    const categoryDescCell = row.querySelector('.category-desc');
    const categoryName = categoryNameCell.innerText;
    const categoryDesc = categoryDescCell.innerText;
    //find and set the value
    const categoryNameInput = document.querySelector('#category-name-input');
    const categoryDescInput = document.querySelector('#category-desc-input');
    categoryNameInput.value = categoryName;
    categoryDescInput.value = categoryDesc;

  })
})
</script>

<script src="{% static '/js/script.js' %}"></script>
<script src="{% static '/js/pagination.js' %}"></script>
<script src="{% static '/js/profile.js' %}"></script> 

</body>
</html>
