<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title> GCIT Finance App</title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/admin_add_edit.css">
    <link rel="stylesheet" href="../style/edit.css">
    <link rel="stylesheet" href="../style/add_user.css">
    <link rel="stylesheet" href="../style/pagination.css">
    <link rel="stylesheet" href="../style/profile.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/6671961b0d.js" crossorigin="anonymous"></script>
   
   </head>
<body>
  <div class="sidebar open">
    <div class="logo-details">
      <img class=" gcit_logo" src="../image/GCIT_logo.png" alt="" >
      <!-- <i class='bx bxl-c-plus-plus icon'></i>
        <div class="logo_name">CodingLab</div> -->
        <i class='bx bx-menu' id="btn" style="font-size: 30px;"></i>       
    </div>
    <div class="logo-details">
      <img class="logo" src="../image/logo.png" alt="">
    </div>
    <!-- Role -->
    <div class="logo-details ms-5" style="margin-top: 150px;">
      <p class=" ms-4 text-uppercase" style="font-size: 30px">admin</p>
      
     
    </div>
    <hr class="w-100 " style="height: 3px; background-color: black;opacity:50%;">
    <ul class="nav-list">
      <li>
        <a class=" text-light" href="admin_dashboard.html">
          <i class='bx bx-grid-alt me-5 ' style="font-size: 30px;"></i>
          <span class="links_name">Dashboard</span>
        </a>

      </li>
      <li>
       <a class="add" href="admin_add.html">
         <i class='bx bx-plus-circle  me-5' style="font-size: 30px;" ></i>
         <span class="links_name">Add</span>
       </a>

     </li>
     <li>
       <a class="dashboard active" href="admin_edit.html">
         <i class='bx bx-edit  me-5' style="font-size: 30px;"></i>
         <span class="links_name">Edit</span>
       </a>

     </li>
    
    </ul>
  </div>
     <!-- log out model -->
     <div class="modal fade " id="exampleModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-2 ">
          <div class="modal-header ">
            <h5 class="modal-title fw-bold" id="exampleModalLabel">Confirmation</h5>
          </div>
          <div class="modal-body fw-bold">
            Are you sure you want to log out?
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn  rounded text-uppercase fw-bold fs-6" data-bs-dismiss="modal" style="border-width: 0.1mm;border-color: #0892A5;">Close</button>
            <button type="button" class="btn  rounded text-uppercase text-white border fw-bold fs-6" style="background-color: #0892A5; border-color: #0892A5;"><a href='../logout' style="text-decoration:none; color:black">Logout</a></button>
          </div>
        </div>
      </div>
    </div>
 
    <!--END log out model -->
  <section class="home-section">
    <div class="content ps-2 pe-2">
      <!-- Porfile -->
      <div class="hero">
       <nav>
         <div class="header  container-fluid">
           <div class="text pt-3 ps-3">ADMIN DASHBOARD</div> 
         </div>
       </nav>
     </div>

     <div class="action">
       <div class="d-flex">
       <span class="username mt-1 pe-2" id="#username">{{request.session.first_name}}</span>
       <div class="profile text-white" id="profile" onclick="menuToggle();">
         A
       </div>
       
       <div class="menu shadow-lg">
         <ul>
           <li class=" p-2 me-4 mt-3"><i class="bx bx-user-circle pe-2 " style="font-size: 25px;" ></i><a href="../admin_edit_profile">My Profile</a></li>
           <li  class=" p-2 me-4" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bx bx-log-out pe-2" style="font-size: 25px;" ></i>Logout</li>
           </div>
         </div>
       </div>
      <div class="title">
        <h5 class="ms-4 mt-2" style="opacity: 80%;font-weight: bold;color:#0892A5 ;">Edit Category</h5>
      </div>
      <div class="tab-content ps-4 pe-4">

        <!-- list of all users -->
        <div class="tab-pane fade show active pb-3" id="pills-1">
          <div class="user-details mt-4 bg-white ps-2 pe-2 me-2 border border-dark" >
            <section class="header d-none">
                <div class="items-controller d-flex ">
                    <h5>Show</h5>
                    <select name="" id="itemperpage">
                      <option value="01">01</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="08" selected>08</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                    </select>
                    <h5>Per Page</h5>
                </div>
            </section>
            <section class="field">
              <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                          <th scope="col">Sl.No</th>
                          <th scope="col">Category</th>
                          <th scope="col">Action</th>

                        </tr>
                      </thead>
                      <tbody>
                        <tr class="table-">
                            
                            <th scope="row">01</th>
                            <td>Current Expenditure</td>
                            <td>
                              <a class="delete text-dark" data-bs-toggle="modal" data-bs-target="#edit">
                              <i class="bx bx-edit" style="font-size:25px;color:#0892A5"></i></a>
                              
                              <a class="delete text-dark" data-bs-toggle="modal" data-bs-target="#delete">
                              <i class="bx bx-trash" style="font-size:25px;opacity: 60%;"></i></a>
                            </td>
                            
                          
                        </tr>
                        <tr>
                            
                           <th scope="row">02</th>
                            <td>Capital Expenditure</td>
                            <td>
                              <i class="bx bx-edit" style="font-size:25px;color:#0892A5"></i>
                              <i class="bx bx-trash" style="font-size:25px;opacity: 60%;"></i>
                            </td>
                            
                          
                        </tr>
                        

                        
                      </tbody>
                </table>
                </div>
                <div class="bottom-field">
                    <ul class="pagination">
                      <li class="prev"><a href="#" id="prev">&#139;</a></li>
                        <!-- page number here -->
                      <li class="next"><a href="#" id="next">&#155;</a></li>
                    </ul>
                </div>
            </section>
          </div>
  
            </div>
     

        
      </div>
    </div>
  </section>
    <!-- DELETE -->
    <div class="modal fade " id="delete" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-2 ">
          <div class="modal-header ">
            <h5 class="modal-title fw-bold" id="exampleModalLabel">Confirmation</h5>
          </div>
          <div class="modal-body fw-bold">
            Are you sure to DELETE this category?
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn  rounded text-uppercase fw-bold fs-6" data-bs-dismiss="modal" style="border-width: 0.1mm;border-color: #0892A5;">cancel</button>
            <button type="button" data-bs-toggle="modal" data-bs-target="#deleteSuccess" class="btn  rounded text-uppercase text-white border fw-bold fs-6" style="background-color: #0892A5; border-color: #0892A5;">delete</button>
          </div>
        </div>
      </div>
    </div>
 
    <!--END DELETE -->
    <!-- success deletion message -->
    <div class="modal fade" id="deleteSuccess" tabindex="-1"  aria-labelledby="exampleModalLabel" aria-hidden="true" >
      <div class="modal-dialog modal-dialog-centered p-5">
        <div class="modal-content p-2 me-3" style="background-color: #0892A5;border-radius: 20px;" >
          
            <div class="modal-title  mt-5 text-center" >
              <i class='fa-regular fa-circle-check mt-5' style="font-size: 80px;color: white;"></i>

              <p class="text-white mt-5 fs-5 fw-lighter">Category deleted successfully</p>
            </div>
        
        

          <div class="add ps-5 pe-5 mt-2 mb-5 pb-3 text-center">
            <a href="edit_cat.html"><button type="button" class="btn mt-5 mb-3  rounded text-uppercase  border fw-bold fs-6 " style="background-color: #ffffff; border-color: #ffffff;color: #0892A5;">ok</button>
            </a>
            </div>
        </div>
      </div>
    </div>



    <!--END success deletion message -->
    <!-- edit_user -->

    <div class="modal fade " id="edit" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-2 ">
          
            <div class="modal-title  mt-3" >
              <h5 class="text-center" style="color: #0892A5;opacity: 80%;font-weight: bold;">Edit category</h5>
            </div>
        
            <div class="new-user ps-5 pe-5 mt-2">
                <form  name="catform" method="post" action="">
                    <div class="name ">
                        <div class="catname">
                        <label class="d-block " for="">Category Name</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text " id="basic-addon1"><i class='bx bx-category' style="font-size: 30px;"></i></span>
                            <input
                              type="text"
                              class="form-control"
                              placeholder="Category Name"
                              aria-label="CategoryName"
                              value="Current Expenditure"
                              aria-describedby="basic-addon1"
                              required
                            />
                          </div>
                        </div>
                        <div class="description">
                          <label class="d-block " for="">Description</label>
                          <div class="input-group mb-3 mt-2">
                              <textarea class="w-100 p-2" name="" id="" rows="5"></textarea>
                            </div>
                          </div>
                          
                          
                        </div>     
               
                
              </div>

          <div class="add ps-5 pe-5 mt-2 pb-3">
            <button type="button" class="btn  rounded text-uppercase fw-bold fs-6" data-bs-dismiss="modal" style="border-width: 0.1mm;border-color: #0892A5;">cancel</button>
            <button data-bs-toggle="modal" data-bs-target="#editSuccess" type="button" class="btn  rounded text-uppercase text-white border fw-bold fs-6" style="background-color: #0892A5; border-color: #0892A5;">Save changes</button>
          </div>
        </form>
        </div>
      </div>
    </div>


     <!--END edit_user -->
     <!-- save changes -->
     <div class="modal fade" id="editSuccess" tabindex="-1"  aria-labelledby="exampleModalLabel" aria-hidden="true" >
      <div class="modal-dialog modal-dialog-centered p-5">
        <div class="modal-content p-2 me-3" style="background-color: #0892A5;border-radius: 20px;" >
          
            <div class="modal-title  mt-5 text-center" >
              <i class='fa-regular fa-circle-check mt-5' style="font-size: 80px;color: white;"></i>

              <p class="text-white mt-5 fs-5 fw-lighter">Changes Saved</p>
            </div>
        
        

          <div class="add ps-5 pe-5 mt-2 mb-5 pb-3 text-center">
            <a href="edit_cat.html"><button type="button" class="btn mt-5 mb-3  rounded text-uppercase  border fw-bold fs-6 " style="background-color: #ffffff; border-color: #ffffff;color: #0892A5;">ok</button>
            </a>
            </div>
        </div>
      </div>
    </div>



    <!--END save changes message -->
  </div>
</section>

  <script src="../script/script.js"></script>
  <script src="../script/pagination_edit.js"></script>
  <script src="../script/profile.js"></script>

</body>
</html>
