{% load static %}
<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PO Form</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
     <script src="https://kit.fontawesome.com/6671961b0d.js" crossorigin="anonymous"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   
   </head>
<body>
  <div class="sidebar open">
    <div class="logo-details">
      <img class=" gcit_logo" src="{% static 'images/GCIT_logo.png' %}" alt="" >
     
        <i class='bx bx-menu' id="btn" style="font-size: 30px;"></i>       
    </div>
    <div class="logo-details">
      <img class="logo" src="{% static 'images/logo.png' %}" alt="">
    </div>
    <!-- Role -->
    <div class="logo-details ms-5" style="margin-top: 150px;">
      <p class=" text-uppercase" style="font-size: 18px;margin-left: 10px;">Finance Team</p>
      
     
    </div>
    <hr class="w-100" style="height: 3px; background-color: black;opacity:50%;">
    <ul class="nav-list">
      <li>
        <a class="text-light active" href="{% url 'ft_view' %}">
          <i class='bx bx-grid-alt  me-4' style="font-size: 30px;" ></i>
          <span class="links_name">Dashboard</span>
        </a>
 
      </li>
      <li>
        <a class="dashboard" href="{% url 'ft_submit' %}">
          <i class='bx bxs-file-export  me-4' style="font-size: 30px;"></i>
          <span class="links_name">Submit</span>
        </a>
 
      </li>
      {% comment %} <li>
        <a class="" href="{% url 'ft_approval' %}">
          <i class='bx bxs-send me-4 ' style="font-size: 30px;"></i>
          <span class="links_name">Sent for Approval</span>
        </a>

      </li> {% endcomment %}
    

 
    </ul>
  </div>
     <!-- log out model -->
     <div class="modal fade " id="exampleModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-2 ">
          <div class="modal-header ">
            <h5 class="modal-title fw-bold" id="exampleModalLabel">Confirmation</h5>
          </div>
          <div class="modal-body fw-bold">
            Are you sure you want to log out?
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn  rounded text-uppercase fw-bold fs-6" data-bs-dismiss="modal" style="border-width: 0.1mm;border-color: #0892A5;">Close</button>
            <button type="button" class="btn  rounded text-uppercase text-white border fw-bold fs-6" style="background-color: #0892A5; border-color: #0892A5;"><a href='../logout' style="text-decoration:none; color:black">Logout</a></button>
          </div>
        </div>
      </div>
    </div>
 
    <!--END log out model -->
  <section class="home-section">
    <div class="content ps-4 pe-4">
      <div class="hero">
        <nav>
          <div class="header  container-fluid">
            <div class="text pt-3">FT DASHBOARD</div> 
          </div>
        </nav>
      </div>

      <div class="action">
        <div class="d-flex">
        <span class="username mt-1 pe-2" id="#username">{{request.session.first_name}}</span>
        <div class="profile text-white" id="profile" onclick="menuToggle();">
          P
        </div>
        
        <div class="menu shadow-lg">
          <ul>
            <li class=" p-2 me-4 mt-3"><i class="bx bx-user-circle pe-2 " style="font-size: 25px;" ></i><a href="../finance_profile">My Profile</a></li>
            <li  class=" p-2 me-4" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bx bx-log-out pe-2" style="font-size: 25px;" ></i>Logout</li>
            </div>
          </div>
        </div> 
    <div class="add-options mt-1">
      <h5 class="fw-bold pt-3  text-center" style="color: #0892A5;">Purchase Order Form</h5> 
     <div class="PO-Form">

<!-- this is the modal that displays msg -->
<div class="modal" tabindex="-1" role="dialog" id="message-modal" style="background-color: rgba(0, 0, 0, 0.4);">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content" style="color: #0892A5; border-color: #0892A5; background-color: white;">
      <div class="" style="display: flex; justify-content: space-between;">
        <p class="modal-title"></p>
        <button type="button" class="btn" id="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="message-text" style="text-align: center;"></p>
      </div>
    </div>
  </div>
</div>

<form  name="po-form" method="post" action="" id="po-form" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row row-cols-2 gx-4">
      <div class="col">
        <!-- date -->
        <div class="date pb-1">
          <label class="d-block " for="">Date</label>
          <div class="input-group mb-3 mt-1">
              <span class="input-group-text  " id="basic-addon1"><i class='bx bxs-calendar' style="font-size: 30px;"></i></span>
              <input
                id="date"
                type="text"
                class="form-control bg-white"                 
                aria-describedby="basic-addon1"
                value="{% now 'd/m/Y' %}"
                disabled
              />
            </div>
          </div>
          <div class="po-number pb-1">
            <label class="d-block " for="">PO Number </label>
            <div class="input-group mb-3 mt-1">
                <span class="input-group-text " id="basic-addon1"><i class='bx bxs-file' style="font-size: 30px;"></i></span>
                <input
                  type="text"
                  id="po-no"
                  class="form-control bg-white"
                  aria-describedby="basic-addon1"
                  name="po_no"
                  value="{{ pno }}"
                  disabled
                />
              </div>
            </div>

            <div class="department   mt-4 pb-1">          
              <div class="input-group mb-3 ">
                  <select class="text-center" name="department" id="department" onchange="setHoD()">
                  <option value="" disabled selected>Select Department</option>
                  {% for department in departments %}
                  <option value="{{department.department}}">{{department.department}}</option>
                  {% endfor %}
                  </select>
                </div>

          </div>

          <!-- this is for the department hod  -->
          <select class="text-center" name="hod" id="hod" hidden>
            <option value="" disabled selected>Select Department</option>
            {% for department in departments %}
            <option value="{{department.hod}}">{{department.hod}}</option>
            {% endfor %}
            </select>
            
          <!-- category -->
          <div class="department mt-4  ">          
            <div class="input-group mb-3 ">
                <select class="text-center" id="type" name="category">
                    <option value="" disabled selected>Select Category</option>
                    {% for cat in categories %}
                    <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                    {% endfor %}
                </select>
              </div>

        </div>
        <!-- sub-category -->
        <div class="department mt-4 ">          
          <div class="input-group mb-3 ">
              <select class="text-center" name="sub_category" id="size">
                <option value="" disabled selected>Select Sub-category</option>
                {% for cat in sub_categories %}
                  <option value="{{cat.category_name}}">{{cat.sub_category_name}}</option>
                {% endfor %}
              </select>
            </div>

      </div>
      <div class="supplier pb-1">
        <label class="d-block " for="">Supplier Name</label>
        <div class="input-group mb-3 mt-1">
            <span class="input-group-text " id="basic-addon1"><i class='bx bxs-user-circle' style="font-size: 30px;"></i></span>
            <input
              type="text"
              name="supplier_name"
              class="form-control bg-white"
              aria-describedby="basic-addon1"
            />
          </div>
        </div>
      <div class="description col">
        <label class="d-block " for="">Description</label>
        <div class="input-group mb-3 mt-1">
            <textarea class="w-100 p-2" name="description" id="description" rows="4"></textarea>
          </div>
        </div>  
      </div>

      <div class="col">
            <div class="department  col mt-4 ">          
            <div class="input-group mb-3 mt-1">
              <select class="text-center" name="currency" id="currency">
              <option disabled selected>Select Currency</option>
              <option value="AFN">AFN - Afghan Afghani - ؋</option>
              <option value="ALL">ALL - Albanian Lek - Lek</option>
              <option value="DZD">DZD - Algerian Dinar - دج</option>
              <option value="AOA">AOA - Angolan Kwanza - Kz</option>
              <option value="ARS">ARS - Argentine Peso - $</option>
              <option value="AMD">AMD - Armenian Dram - ֏</option>
              <option value="AWG">AWG - Aruban Florin - ƒ</option>
              <option value="AUD">AUD - Australian Dollar - $</option>
              <option value="AZN">AZN - Azerbaijani Manat - m</option>
              <option value="BSD">BSD - Bahamian Dollar - B$</option>
              <option value="BHD">BHD - Bahraini Dinar - .د.ب</option>
              <option value="BDT">BDT - Bangladeshi Taka - ৳</option>
              <option value="BBD">BBD - Barbadian Dollar - Bds$</option>
              <option value="BYR">BYR - Belarusian Ruble - Br</option>
              <option value="BEF">BEF - Belgian Franc - fr</option>
              <option value="BZD">BZD - Belize Dollar - $</option>
              <option value="BMD">BMD - Bermudan Dollar - $</option>
              <option value="BTN">BTN - Bhutanese Ngultrum - Nu.</option>
              <option value="BTC">BTC - Bitcoin - ฿</option>
              <option value="BOB">BOB - Bolivian Boliviano - Bs.</option>
              <option value="BWP">BWP - Botswanan Pula - P</option>
              <option value="BRL">BRL - Brazilian Real - R$</option>
              <option value="GBP">GBP - British Pound Sterling - £</option>
              <option value="BND">BND - Brunei Dollar - B$</option>
              <option value="BGN">BGN - Bulgarian Lev - Лв.</option>
              <option value="BIF">BIF - Burundian Franc - FBu</option>
              <option value="KHR">KHR - Cambodian Riel - KHR</option>
              <option value="CAD">CAD - Canadian Dollar - $</option>
              <option value="CVE">CVE - Cape Verdean Escudo - $</option>
              <option value="KYD">KYD - Cayman Islands Dollar - $</option>
              <option value="XOF">XOF - CFA Franc BCEAO - CFA</option>
              <option value="XAF">XAF - CFA Franc BEAC - FCFA</option>
              <option value="XPF">XPF - CFP Franc - ₣</option>
              <option value="CLP">CLP - Chilean Peso - $</option>
              <option value="CNY">CNY - Chinese Yuan - ¥</option>
              <option value="COP">COP - Colombian Peso - $</option>
              <option value="KMF">KMF - Comorian Franc - CF</option>
              <option value="CDF">CDF - Congolese Franc - FC</option>
              <option value="CRC">CRC - Costa Rican ColÃ³n - ₡</option>
              <option value="HRK">HRK - Croatian Kuna - kn</option>
              <option value="CUC">CUC - Cuban Convertible Peso - $, CUC</option>
              <option value="CZK">CZK - Czech Republic Koruna - Kč</option>
              <option value="DKK">DKK - Danish Krone - Kr.</option>
              <option value="DJF">DJF - Djiboutian Franc - Fdj</option>
              <option value="DOP">DOP - Dominican Peso - $</option>
              <option value="XCD">XCD - East Caribbean Dollar - $</option>
              <option value="EGP">EGP - Egyptian Pound - ج.م</option>
              <option value="ERN">ERN - Eritrean Nakfa - Nfk</option>
              <option value="EEK">EEK - Estonian Kroon - kr</option>
              <option value="ETB">ETB - Ethiopian Birr - Nkf</option>
              <option value="EUR">EUR - Euro - €</option>
              <option value="FKP">FKP - Falkland Islands Pound - £</option>
              <option value="FJD">FJD - Fijian Dollar - FJ$</option>
              <option value="GMD">GMD - Gambian Dalasi - D</option>
              <option value="GEL">GEL - Georgian Lari - ლ</option>
              <option value="DEM">DEM - German Mark - DM</option>
              <option value="GHS">GHS - Ghanaian Cedi - GH₵</option>
              <option value="GIP">GIP - Gibraltar Pound - £</option>
              <option value="GRD">GRD - Greek Drachma - ₯, Δρχ, Δρ</option>
              <option value="GTQ">GTQ - Guatemalan Quetzal - Q</option>
              <option value="GNF">GNF - Guinean Franc - FG</option>
              <option value="GYD">GYD - Guyanaese Dollar - $</option>
              <option value="HTG">HTG - Haitian Gourde - G</option>
              <option value="HNL">HNL - Honduran Lempira - L</option>
              <option value="HKD">HKD - Hong Kong Dollar - $</option>
              <option value="HUF">HUF - Hungarian Forint - Ft</option>
              <option value="ISK">ISK - Icelandic KrÃ³na - kr</option>
              <option value="INR">INR - Indian Rupee - ₹</option>
              <option value="IDR">IDR - Indonesian Rupiah - Rp</option>
              <option value="IRR">IRR - Iranian Rial - ﷼</option>
              <option value="IQD">IQD - Iraqi Dinar - د.ع</option>
              <option value="ILS">ILS - Israeli New Sheqel - ₪</option>
              <option value="ITL">ITL - Italian Lira - L,£</option>
              <option value="JMD">JMD - Jamaican Dollar - J$</option>
              <option value="JPY">JPY - Japanese Yen - ¥</option>
              <option value="JOD">JOD - Jordanian Dinar - ا.د</option>
              <option value="KZT">KZT - Kazakhstani Tenge - лв</option>
              <option value="KES">KES - Kenyan Shilling - KSh</option>
              <option value="KWD">KWD - Kuwaiti Dinar - ك.د</option>
              <option value="KGS">KGS - Kyrgystani Som - лв</option>
              <option value="LAK">LAK - Laotian Kip - ₭</option>
              <option value="LVL">LVL - Latvian Lats - Ls</option>
              <option value="LBP">LBP - Lebanese Pound - £</option>
              <option value="LSL">LSL - Lesotho Loti - L</option>
              <option value="LRD">LRD - Liberian Dollar - $</option>
              <option value="LYD">LYD - Libyan Dinar - د.ل</option>
              <option value="LTL">LTL - Lithuanian Litas - Lt</option>
              <option value="MOP">MOP - Macanese Pataca - $</option>
              <option value="MKD">MKD - Macedonian Denar - ден</option>
              <option value="MGA">MGA - Malagasy Ariary - Ar</option>
              <option value="MWK">MWK - Malawian Kwacha - MK</option>
              <option value="MYR">MYR - Malaysian Ringgit - RM</option>
              <option value="MVR">MVR - Maldivian Rufiyaa - Rf</option>
              <option value="MRO">MRO - Mauritanian Ouguiya - MRU</option>
              <option value="MUR">MUR - Mauritian Rupee - ₨</option>
              <option value="MXN">MXN - Mexican Peso - $</option>
              <option value="MDL">MDL - Moldovan Leu - L</option>
              <option value="MNT">MNT - Mongolian Tugrik - ₮</option>
              <option value="MAD">MAD - Moroccan Dirham - MAD</option>
              <option value="MZM">MZM - Mozambican Metical - MT</option>
              <option value="MMK">MMK - Myanmar Kyat - K</option>
              <option value="NAD">NAD - Namibian Dollar - $</option>
              <option value="NPR">NPR - Nepalese Rupee - ₨</option>
              <option value="ANG">ANG - Netherlands Antillean Guilder - ƒ</option>
              <option value="TWD">TWD - New Taiwan Dollar - $</option>
              <option value="NZD">NZD - New Zealand Dollar - $</option>
              <option value="NIO">NIO - Nicaraguan CÃ³rdoba - C$</option>
              <option value="NGN">NGN - Nigerian Naira - ₦</option>
              <option value="KPW">KPW - North Korean Won - ₩</option>
              <option value="NOK">NOK - Norwegian Krone - kr</option>
              <option value="OMR">OMR - Omani Rial - .ع.ر</option>
              <option value="PKR">PKR - Pakistani Rupee - ₨</option>
              <option value="PAB">PAB - Panamanian Balboa - B/.</option>
              <option value="PGK">PGK - Papua New Guinean Kina - K</option>
              <option value="PYG">PYG - Paraguayan Guarani - ₲</option>
              <option value="PEN">PEN - Peruvian Nuevo Sol - S/.</option>
              <option value="PHP">PHP - Philippine Peso - ₱</option>
              <option value="PLN">PLN - Polish Zloty - zł</option>
              <option value="QAR">QAR - Qatari Rial - ق.ر</option>
              <option value="RON">RON - Romanian Leu - lei</option>
              <option value="RUB">RUB - Russian Ruble - ₽</option>
              <option value="RWF">RWF - Rwandan Franc - FRw</option>
              <option value="SVC">SVC - Salvadoran ColÃ³n - ₡</option>
              <option value="WST">WST - Samoan Tala - SAT</option>
              <option value="SAR">SAR - Saudi Riyal - ﷼</option>
              <option value="RSD">RSD - Serbian Dinar - din</option>
              <option value="SCR">SCR - Seychellois Rupee - SRe</option>
              <option value="SLL">SLL - Sierra Leonean Leone - Le</option>
              <option value="SGD">SGD - Singapore Dollar - $</option>
              <option value="SKK">SKK - Slovak Koruna - Sk</option>
              <option value="SBD">SBD - Solomon Islands Dollar - Si$</option>
              <option value="SOS">SOS - Somali Shilling - Sh.so.</option>
              <option value="ZAR">ZAR - South African Rand - R</option>
              <option value="KRW">KRW - South Korean Won - ₩</option>
              <option value="XDR">XDR - Special Drawing Rights - SDR</option>
              <option value="LKR">LKR - Sri Lankan Rupee - Rs</option>
              <option value="SHP">SHP - St. Helena Pound - £</option>
              <option value="SDG">SDG - Sudanese Pound - .س.ج</option>
              <option value="SRD">SRD - Surinamese Dollar - $</option>
              <option value="SZL">SZL - Swazi Lilangeni - E</option>
              <option value="SEK">SEK - Swedish Krona - kr</option>
              <option value="CHF">CHF - Swiss Franc - CHf</option>
              <option value="SYP">SYP - Syrian Pound - LS</option>
              <option value="STD">STD - São Tomé and Príncipe Dobra - Db</option>
              <option value="TJS">TJS - Tajikistani Somoni - SM</option>
              <option value="TZS">TZS - Tanzanian Shilling - TSh</option>
              <option value="THB">THB - Thai Baht - ฿</option>
              <option value="TOP">TOP - Tongan pa'anga - $</option>
              <option value="TTD">TTD - Trinidad & Tobago Dollar - $</option>
              <option value="TND">TND - Tunisian Dinar - ت.د</option>
              <option value="TRY">TRY - Turkish Lira - ₺</option>
              <option value="TMT">TMT - Turkmenistani Manat - T</option>
              <option value="UGX">UGX - Ugandan Shilling - USh</option>
              <option value="UAH">UAH - Ukrainian Hryvnia - ₴</option>
              <option value="AED">AED - United Arab Emirates Dirham - إ.د</option>
              <option value="UYU">UYU - Uruguayan Peso - $</option>
              <option value="USD">USD - US Dollar - $</option>
              <option value="UZS">UZS - Uzbekistan Som - лв</option>
              <option value="VUV">VUV - Vanuatu Vatu - VT</option>
              <option value="VEF">VEF - Venezuelan BolÃ­var - Bs</option>
              <option value="VND">VND - Vietnamese Dong - ₫</option>
              <option value="YER">YER - Yemeni Rial - ﷼</option>
              <option value="ZMK">ZMK - Zambian Kwacha - ZK</option>

                </select>
              </div>

        </div>
        <div class="amount-currency col mt-1 ">
          <label class="d-block " id="amount" for="">Amount(Transaction currency)</label>
          <div class="input-group mb-0 mt-1">
              <span class="input-group-text " id="basic-addon1"><i class='fa fa-hand-holding-dollar' style="font-size: 30px;"></i></span>
              
              <input
              name="amount_currency"
                type="number"
                id="amtInCurrency"                     
                class="form-control "
                aria-describedby="basic-addon1"
              
              />
            </div>
          </div>
        <!-- 
        the amount should appear when you choose the currency type and enter its amount, the amount should be converted in Ngultrum automatically -->
        <div class="amount-Nu col mt-3">
          <label class="d-block " for="">Amount(Nu)</label>
          <div class="input-group mb-3 mt-1">
              <span class="input-group-text " id="basic-addon1"><span style="font-size: 20px;">Nu.</span></span>
              <input
              name="amount"
                type="text"
                id="amt-nu"
                class="form-control bg-white"
                aria-describedby="basic-addon1"
              />
            </div>
          </div>

          <div class="quantity col  pb-3">
            <label class="d-block " for="">Quantity</label>
            <div class="input-group mb-0 mt-1">
                <span class="input-group-text " id="basic-addon1"><i class='fa-solid fa-hands-holding-circle' style="font-size: 30px;"></i></span>
                
                <input
                name="quantity"
                  type="number"
                  class="form-control "
                  aria-describedby="basic-addon1"
                
                />
              </div>
            </div>
          
          <div class="upload col mt-4 pb-4">
            <label for="images" class="drop-container">
              <span class="drop-title"><i class="bx bx-cloud-upload" style="font-size: 60px;"></i></span>
              or
              <input type="file" name="attachment" >
            </label>
            </div> 
            
            <div class="buttons ps-4 pe-4 mt-1 pb-3 row row-cols-3 gx-5  text-center">
              <button type="button" onclick="history.back()" class=" col btn  rounded text-uppercase border fw-bold fs-6">cancel</button>
              <button type="button"  class=" col btn  rounded text-uppercase  border fw-bold fs-6" onclick="refresh()">clear</button>
              <button 
              type="submit"  data-bs-toggle="modal" data-bs-target="#submitSuccess"
              class=" col btn  rounded text-uppercase  border fw-bold fs-6">Submit</button>
            </div>   


      </div>
                    
      </div>  


</form>

</div>
</div>
    </div>
        </div>
      </div>
  </section>

<script>
function setHoD() {
  document.querySelector('#hod').selectedIndex = document.querySelector('#department').selectedIndex;
}
</script>
<!-- handle msg -->
<div>
  {% if messages %}
  <script>
    const messageText = document.getElementById("message-text");
    messageText.innerHTML = "{% for message in messages %}{{ message }}{% endfor %}";
    const messageModal = document.getElementById("message-modal");
    messageModal.style.display = "block";
  </script>
  {% endif %}
  <script> 
  const closeBtn = document.querySelector('#close')
  closeBtn.addEventListener("click", function(){
      messageModal.style.display = "none";
  })
  setTimeout(function() {
    messageModal.style.display = "none";
  }, 10000);
  </script> 
</div>
<script src="{% static '/js/script.js' %}"></script>
<script src="{% static '/js/form.js' %}"></script>
<script src="{% static '/js/pagination.js' %}"></script>
<script src="{% static '/js/profile.js' %}"></script> 
</body>
</html>
