<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>GCIT Finance App </title>
    <link rel="stylesheet" href="../style/style.css">
    <link rel="stylesheet" href="../style/hod_submit.css">
    <link rel="stylesheet" href="../style/profile.css">
    <link rel="stylesheet" href="../style/edit.css">
    <link rel="stylesheet" href="../style/pagination.css">
    <link rel="stylesheet" href="../style/approval.css">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://kit.fontawesome.com/6671961b0d.js" crossorigin="anonymous"></script>
   </head>
<body>
  <div class="sidebar open">
    <div class="logo-details">
      <img class=" gcit_logo" src="../image/GCIT_logo.png" alt="" >
        <i class='bx bx-menu' id="btn" style="font-size: 30px;"></i>       
    </div>
    <div class="logo-details">
      <img class="logo" src="../image/logo.png" alt="">
    </div>
    <!-- Role -->
    <div class="logo-details ms-5" style="margin-top: 150px;">
      <p class=" text-uppercase" style="font-size: 18px;margin-left: -20px;">head of department</p>
      
     
    </div>
    <hr class="w-100" style="height: 3px; background-color: black;opacity:50%;">
    <ul class="nav-list">
        <li>
          <a class="dashboard" href="hod_view.html">
            <i class='bx bx-grid-alt  me-4' style="font-size: 30px;" ></i>
            <span class="links_name">HOD Dashboard</span>
          </a>
   
        </li>
        <li>
          <a class="" href="hod_submit.html">
            <i class='bx bxs-file-export  me-4' style="font-size: 30px;"></i>
            <span class="links_name">Submit</span>
          </a>
   
        </li>
        <li>
          <a class="" href="hod_approval.html">
            <i class='bx bxs-send me-4 ' style="font-size: 30px;"></i>
            <span class="links_name">Sent for Approval</span>
          </a>
  
        </li>
      
  
   
      </ul>
  </div>
     <!-- log out model -->
     <div class="modal fade " id="exampleModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-2 ">
          <div class="modal-header ">
            <h5 class="modal-title fw-bold" id="exampleModalLabel">Confirmation</h5>
          </div>
          <div class="modal-body fw-bold">
            Are you sure you want to log out?
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn  rounded text-uppercase fw-bold fs-6" data-bs-dismiss="modal" style="border-width: 0.1mm;border-color: #0892A5;">Close</button>
            <button type="button" class="btn  rounded text-uppercase text-white border fw-bold fs-6" style="background-color: #0892A5; border-color: #0892A5;"><a href='../logout' style="text-decoration:none; color:black">Logout</a></button>
          </div>
        </div>
      </div>
    </div>
 
    <!--END log out model -->
    <section class="home-section">
        <div class="content ps-3 pe-3">
          <div class="hero">
            <nav>
              <div class="header  container-fluid">
                <div class="text pt-3 ps-1 ">HOD DASHBOARD</div> 
              </div>
            </nav>
          </div>
    
          <div class="action">
            <div class="d-flex">
            <span class="username mt-1 pe-2" id="#username">{{request.session.first_name}}</span>
            <div class="profile text-white" id="profile" onclick="menuToggle();">
              L
            </div>
            
            <div class="menu shadow-lg">
              <ul>
                <li class=" p-2 me-4 mt-3"><i class="bx bx-user-circle pe-2 " style="font-size: 25px;" ></i><a href="../hod_profile">My Profile</a></li>
                <li  class=" p-2 me-4" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bx bx-log-out pe-2" style="font-size: 25px;" ></i>Logout</li>
                </div>
              </div>
            </div> 
           <div class="title">
          <h5 class="ms-3" style="opacity: 80%;font-weight: bold;color:#0892A5 ;">PO Forms Submitted</h5>
        </div>
        <div class="tab-content ps-3 pe-3">
          <div class="row sort pt-2">
    
            <div class="col-md-8 container mb-2">
    
              <div class="row height d-flex justify-content-center align-items-center">
    
                <div class="col">
    
                  <div class="search">
                    <i class="bx bx-search"></i>
                    <input type="text" class="form-control" placeholder="search employee">
                    <button class="btn btn-primary">Search</button>
                  </div>
                  
                </div>
                
              </div>
          </div>
    
          <div class="department col me-2">          
            <div class=" w-100">
               <select class="text-center w-100" name="" id="" >
                <option value="">Pending PO</option>
                <option value="">Approved PO</option>
                <option value="">Rejected PO</option>
    
               </select>
              </div>
    
        </div>
    </div>
          <!-- list of all users -->
          <div class="tab-pane fade show active pb-3" id="pills-1">
            <div class="user-details mt-3 bg-white ps-2 pe-2 me-2 border border-dark" >
              <section class="header d-none">
                  <div class="items-controller d-flex ">
                      <h5>Show</h5>
                      <select name="" id="itemperpage">
                        <option value="01">01</option>
                          <option value="04">04</option>
                          <option value="05">05</option>
                          <option value="08" selected>08</option>
                          <option value="10">10</option>
                          <option value="15">15</option>
                      </select>
                      <h5>Per Page</h5>
                  </div>
              </section>
              <section class="field">
                <div class="table-responsive">
                  <table class="table">
                      <thead>
                          <tr>
                            <th scope="col">Sl.No</th>
                            <th scope="col">PO No</th>
                
                            <th scope="col">Submitted by</th>
                            <th scope="col">Category</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Action</th>
    
                          </tr>
                        </thead>
                        <tbody>
                          <tr class="table-">
                              
                              <th scope="row">01</th>
                     
                              <td>Developer</td>
                              <td>@tiger</td>
                              <td>jhsdsjf</td>
                              <td>$3298</td>
                              <td>
                                <a class="delete text-dark" title="view" data-bs-toggle="modal" data-bs-target="#view">
                                <i class="fa-solid fa-eye" style="font-size:25px;color:#0892A5"></i></a>
                              </td>
                              
                            
                          </tr>
                          <tr>
                              
                             <th scope="row">02</th>
                              <td>Garrett Winters</td>
                              <td>jhsdsjf</td>
                     
                              <td>@gakyo</td>
                              <td>$3298</td>
                              <td>
                                <a class="delete text-dark" title="view" data-bs-toggle="modal" data-bs-target="#view">
                                <i class="fa-solid fa-eye" style="font-size:25px;color:#0892A5"></i></a>
                                

                              </td>
                              
                            
                          </tr>
                          <tr class="table-">
                              
                            <th scope="row">03</th>
                              <td>Ashton Cox</td>
                              <td>jhsdsjf</td>
             
                              <td>@Francisco</td>
                              <td>$3298</td>
                              <td>
                                <a class="delete text-dark" title="view" data-bs-toggle="modal" data-bs-target="#view">
                                <i class="fa-solid fa-eye" style="font-size:25px;color:#0892A5"></i></a>
                                

                              </td>
                              
                            
                          </tr>
                          <tr >
                              
                            <th scope="row">03</th>
                              <td>Cedric Kelly</td>
                              <td>jhsdsjf</td>
                              <td>Senior Javascript Developer</td>
                    
                              <td>$3298</td>
                              <td>
                                <a class="delete text-dark" title="view" data-bs-toggle="modal" data-bs-target="#view">
                                <i class="fa-solid fa-eye" style="font-size:25px;color:#0892A5"></i></a>
                                

                              </td>
                              
                            
                          </tr>
                          <tr class="table-">
                              
                            <th scope="row">05</th>
                              <td>Airi Satou</td>
                              <td>jhsdsjf</td>
                              <td>Accountant</td>
                
                              <td>$3298</td>
                              <td>
                                <a class="delete text-dark" title="view" data-bs-toggle="modal" data-bs-target="#view">
                                <i class="fa-solid fa-eye" style="font-size:25px;color:#0892A5"></i></a>
                                

                              </td>
                              
                            
                          </tr>
                          <tr>
                              
                            <th scope="row">06</th>
                            <td>jhsdsjf</td>
                              <td>Brielle Williamson</td>
                              <td>Integration Specialist</td>
           
                              <td>$3298</td>
                              <td>
                                <a class="delete text-dark" title="view" data-bs-toggle="modal" data-bs-target="#view">
                                <i class="fa-solid fa-eye" style="font-size:25px;color:#0892A5"></i></a>
                                

                              </td>
                              
                            
                          </tr>
                          <tr class="table-">
                              
                            <th scope="row">07</th>
                              <td>Herrod Chandler</td>
                              <td>Sales Assistant</td>
                  
                              <td>Francisco</td>
                              <td>$3298</td>
                              <td>
                                <a class="delete text-dark" title="view" data-bs-toggle="modal" data-bs-target="#view">
                                <i class="fa-solid fa-eye" style="font-size:25px;color:#0892A5"></i></a>
                                

                              </td>
                              
                            
                          </tr>
                          <tr>
                              
                            <th scope="row">08</th>
                              <td>Rhona Davidson</td>
                              <td>jhsdsjf</td>
                              <td>Integration Specialist</td>
   
                              <td>$3298</td>
                              <td>
                                <a class="delete text-dark" title="view" data-bs-toggle="modal" data-bs-target="#view">
                                <i class="fa-solid fa-eye" style="font-size:25px;color:#0892A5"></i></a>
                                

                              </td>
                              
                            
                          </tr>
                          <tr class="table-">
                              
                            <th scope="row">09</th>
                              <td>Colleen Hurst</td>
                              <td>jhsdsjf</td>
                              <td>Javascript Developer</td>
                
                              <td>$3298</td>
                              <td>
                                <a class="delete text-dark" title="view" data-bs-toggle="modal" data-bs-target="#view">
                                <i class="fa-solid fa-eye" style="font-size:25px;color:#0892A5"></i></a>
                                

                              </td>
                              
                            
                          </tr>
                          <tr>
                              
                            <th scope="row">10</th>
                              <td>Sonya Frost</td>
                              <td>Software Engineer</td>
                              <td>jhsdsjf</td>
                    
                              <td>$3298</td>
                              <td>
                                <a class="delete text-dark" title="view" data-bs-toggle="modal" data-bs-target="#view">
                                <i class="fa-solid fa-eye" style="font-size:25px;color:#0892A5"></i></a>
                                

                              </td>
                              
                            
                          </tr>
                          <tr class="table-">
                              
                            <th scope="row">11</th>
                              <td>Jena Gaines</td>
                              <td>jhsdsjf</td>
                              <td>Office Manager</td>
                
                              <td>$3298</td>
                              <td>
                                <a class="delete text-dark" title="view" data-bs-toggle="modal" data-bs-target="#view">
                                <i class="fa-solid fa-eye" style="font-size:25px;color:#0892A5"></i></a>
                                

                              </td>
                              
                            
                          </tr>
                          <tr>
                              
                            <th scope="row">12</th>
                            <td>jhsdsjf</td>
                              <td>Quinn Flynn</td>
                              <td>Support Lead</td>
    
                              <td>$3298</td>
                              <td>
                                <a class="delete text-dark" title="view" data-bs-toggle="modal" data-bs-target="#view">
                                <i class="fa-solid fa-eye" style="font-size:25px;color:#0892A5"></i></a>
                                

                              </td>
                              
                            
                          </tr>
                          <tr class="table-">
                              
                            <th scope="row">13</th>
                              <td>Charde Marshall</td>
                              <td>jhsdsjf</td>
                              <td>Regional Director</td>
        
                              <td>$3298</td>
                              <td>
                                <a class="delete text-dark" title="view" data-bs-toggle="modal" data-bs-target="#view">
                                <i class="fa-solid fa-eye" style="font-size:25px;color:#0892A5"></i></a>
                                

                              </td>
                              
                            
                          </tr>
                          <tr>
                              
                            <th scope="row">14</th>
                              <td>Haley Kennedy</td>
                              <td>jhsdsjf</td>
                              <td>Senior Marketing Designer</td>
                
                              <td>$3298</td>
                              <td>
                                <a class="delete text-dark" title="view" data-bs-toggle="modal" data-bs-target="#view">
                                <i class="fa-solid fa-eye" style="font-size:25px;color:#0892A5"></i></a>
                                

                              </td>
                              
                            
                          </tr>
                          <tr class="table-">
                              
                            <th scope="row">15</th>
                              <td>Tatyana Fitzpatrick</td>
                              <td>jhsdsjf</td>
                              <td>Regional Director</td>
                   
                              <td>$3298</td>
                              <td>
                                <a class="delete text-dark" title="view" data-bs-toggle="modal" data-bs-target="#view">
                                <i class="fa-solid fa-eye" style="font-size:25px;color:#0892A5"></i></a>
                                

                              </td>
                              
                            
                          </tr>
                          <tr>
                              
                            <th scope="row">10</th>
                              <td>Sonya Frost</td>
                              <td>jhsdsjf</td>
                              <td>Software Engineer</td>
                   
                              <td>$3298</td>
                              <td>
                                <a class="delete text-dark" title="view" data-bs-toggle="modal" data-bs-target="#view">
                                <i class="fa-solid fa-eye" style="font-size:25px;color:#0892A5"></i></a>
                                

                              </td>
                              
                            
                          </tr>
                          <tr class="table-">
                              
                            <th scope="row">11</th>
                              <td>Jena Gaines</td>
                              <td>jhsdsjf</td>
                              <td>Office Manager</td>
                    
                              <td>$3298</td>
                              <td>
                                <a class="delete text-dark" title="view" data-bs-toggle="modal" data-bs-target="#view">
                                <i class="fa-solid fa-eye" style="font-size:25px;color:#0892A5"></i></a>
                                

                              </td>
                              
                            
                          </tr>
                          <tr>
                              
                            <th scope="row">12</th>
                              <td>Quinn Flynn</td>
                              <td>jhsdsjf</td>
                              <td>Support Lead</td>
                         
                              <td>$3298</td>
                              <td>
                                <a class="delete text-dark" title="view" data-bs-toggle="modal" data-bs-target="#view">
                                <i class="fa-solid fa-eye" style="font-size:25px;color:#0892A5"></i></a>
                                

                              </td>
                              
                            
                          </tr>
                          <tr class="table-">
                              
                            <th scope="row">13</th>
                              <td>Charde Marshall</td>
                              <td>jhsdsjf</td>
                              <td>Regional Director</td>
                       
                              <td>$3298</td>
                              <td>
                                <a class="delete text-dark" title="view" data-bs-toggle="modal" data-bs-target="#view">
                                <i class="fa-solid fa-eye" style="font-size:25px;color:#0892A5"></i></a>
                              </td>
                              
                            
                          </tr>
                          <tr>
                              
                            <th scope="row">14</th>
                              <td>Haley Kennedy</td>
                              <td>hghjgjh</td>
                              <td>Senior Marketing Designer</td>
         
                              <td>$3298</td>
                              <td>
                                <a class="delete text-dark" title="view" data-bs-toggle="modal" data-bs-target="#view">
                                <i class="fa-solid fa-eye" style="font-size:25px;color:#0892A5"></i></a>
                                
                              </td>
                              
                            
                          </tr>
    
                          
                        </tbody>
                  </table>
                  </div>
                  <div class="bottom-field">
                      <ul class="pagination">
                        <li class="prev"><a href="#" id="prev">&#139;</a></li>
                          <!-- page number here -->
                        <li class="next"><a href="#" id="next">&#155;</a></li>
                      </ul>
                  </div>
              </section>
            </div>
    
              </div>
       
    
          
        </div>
            
    
    
    
        </div>
    
            </div>
          </div>
       
        <!-- View -->
    
        <div class="modal fade" id="view" tabindex="-1"   aria-labelledby="exampleModalLabel" aria-hidden="true" >
          <div class="modal-dialog modal-lg" style="height: 100vh;">    
            <div class="modal-content p-2 ">
              <div class="modal-header">
                <h5 class="modal-title fw-bold text-center text-uppercase" id="exampleModalLabel">Purchase Order</h5>
                <i class="fa fa-close"data-bs-dismiss="modal"  style="cursor: pointer; font-size: 25px; opacity: 60%;"></i>
              </div>
              <div class="modal-body fw-bold">
                <div class="ps-2 pe-2 table">
                  <div class="row row1">
                    <div class="col">PO2023000001</div>
                    <div class="col text-end">15/01/2023</div>
                  </div>
                  <div class="row row2">
                    <div class="col col1">Category:</div>
                    <div class="col col2">Head of Department:</div>
                    
                  </div>
                  <div class="row row3">
                    <div class="col">current expenditure / expenses - travel - incountry</div>
                    <div class="col ">Student service-KB LEE</div>
                  </div>
                  <div class="row row4">
                    <div class="col">Description:</div>
                   
                  </div>
                  <div class="row row5" >
                    <div class="col">The back end refers to parts of a computer application or a program's code that allow it to operate and that cannot be accessed by a user. Most data and operating syntax are stored and accessed in the back end of a computer system. Typically the code is comprised of one or more programming languages.
                    </div>
                  </div>
              
                  <div class="row row6">
                    <div class="col">Submitted by:</div>
                
                  </div>
                  <div class="row row7">
                    <div class="col">Name:Tenzin Samdrup</div>
                    <div class="col">Email:12200026.gcit@rub.edu.bt <br>jns</div>
                  </div>
                  <div class="row row8" >
                    <div class="col col1">Amount(SDG)</div>
                    <div class="col col2">Quantity</div>
                    <div class="col col3">Amount(Nu)</div>
                  </div>
                  <div class="row row9" >
                    <div class="col">30000</div>
                    <div class="col col2">10</div>
                    <div class="col col3">1834562</div>
                  </div>
                  <div class="row row10">
                    <div class="col col-4 col1 d-flex align-items-center">Attachments</div>
                    <div class="col col2 text-center"> 
                      <i class="fa-solid fa-file-pdf" style="font-size: 40px;color: red;"></i>
                      <i class="fa-solid fa-file-excel" style="font-size: 40px;color: green;"></i>
                      <i class="fa-solid fa-file-word" style="font-size: 40px;color: #4392f1"></i>
                      <i class="fa-solid fa-file-image" style="font-size: 40px;color: #000000"></i>
    
    
                    </div>
                
                  </div>
    
                </div>
              </div>
            </div>
          </div>
      
        </div>
    
        <!-- view END -->

      </section>
    
  <script src="../script/script.js"></script>
  <script src="../script/profile.js"></script>
  <script src="../script/pagination_edit.js"></script>
</body>
</html>
