{% load static %}
<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>PO Lists </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/hod_submit.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
    <link rel="stylesheet" href="{% static 'css/approval.css' %}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://kit.fontawesome.com/6671961b0d.js" crossorigin="anonymous"></script>
   </head>
   <body>
    <div class="sidebar open">
      <div class="logo-details">
        <img class=" gcit_logo" src="{% static 'images/GCIT_logo.png' %}" alt="">
        <i class='bx bx-menu' id="btn" style="font-size: 30px;"></i>
      </div>
      <div class="logo-details">
        <img class="logo" src="{% static 'images/logo.png' %}" alt="">
      </div>
      <!-- Role -->
      <div class="logo-details ms-5" style="margin-top: 150px;">
        <p class=" text-uppercase" style="font-size:21px;">head of finance</p>
  
  
      </div>
      <hr class="w-100" style="height: 3px; background-color: black;opacity:50%;">
      <ul class="nav-list">
        <li>
          <a class="" href="{% url 'hof_dashboard' %}">
            <i class='bx bx-grid-alt  me-4' style="font-size: 30px;"></i>
            <span class="links_name"> Dashboard</span>
          </a>
  
        </li>
        <li>
          <a class="" href="{% url 'hof_approval' %}">
            <i class='bx bxs-send me-4 ' style="font-size: 30px;"></i>
            <span class="links_name">Sent for Approval</span>
          </a>
  
        </li>
        <li>
          <a class=" " href="{% url 'hof_po_for_approval' %}">
            <i class='bx bx-file-blank  me-4' style="font-size: 30px;"></i>
            <span class="links_name">PO for Approval</span>
          </a>
  
        </li>
        <li>
          <a class="" href="{% url 'hof_ivr_for_approval' %}">
            <i class='bx bxs-file-blank me-4' style="font-size: 30px;"></i>
            <span class="links_name">IVR for Approval</span>
          </a>
  
        </li>
        <li>
          <a class="dashboard" href="{% url 'hof_pending_forms' %}">
            <i class='bx bx-dna me-4' style="font-size: 30px;"></i>
            <span class="links_name">Pending</span>
          </a>
  
        </li>
  
  
  
      </ul>
    </div>
    <!-- log out model -->
      <section class="home-section">
        <div class="content ps-3 pe-3">
          <div class="hero">
            <nav>
              <div class="header  container-fluid">
                <div class="text pt-3 ps-1">HOF DASHBOARD</div> 
              </div>
            </nav>
          </div>
    
          <div class="action">
            <div class="d-flex">
            <span class="username mt-1 pe-2" id="#username">{{request.session.first_name}}</span>
            <div class="profile text-white" id="profile" onclick="menuToggle();">
              L
            </div>
            
            <div class="menu shadow-lg">
              <ul>
                <li class=" p-2 me-4 mt-3"><i class="bx bx-user-circle pe-2 " style="font-size: 25px;" ></i><a href="../hof_profile">My Profile</a></li>
                <li  class=" p-2 me-4" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bx bx-log-out pe-2" style="font-size: 25px;" ></i><a href="../logout">logout</a>
                </div>
              </div>
            </div> 
            <div class="title">
              <h5 class="ms-3" style="opacity: 80%;font-weight: bold;color:#0892A5 ;">PO Forms For Approval</h5>
            </div>
            <div class="tab-content ps-3 pe-3">
              <div class="row sort pt-2">
        
                <div class="col-md-8 container mb-2">
        
                  <div class="row height d-flex justify-content-center align-items-center">
        
                    <div class="col">
        
                      <div class="search">
                        <i class="bx bx-search"></i>
                        
                        <form method="post">
                          {% csrf_token %}
                          <input type="hidden"  name="form_name" value="search">
                          <input type="text" name="po_no" value="{{request.POST.po_no}}" class="form-control"  placeholder="Search PO">
                          <button type="submit" class="btn btn-primary">Search</button>
                        </form>
  
                      </div>
                      
                    </div>
                    
                  </div>
              </div>
        
             
         <div class="department col me-2">          
          <div class=" w-100">
  
            <form action="" method="post" onchange="submit()">
              {% csrf_token %}
              <input type="hidden"  name="form_name" value="sort_department">
              <select class="text-center w-100" name="department">
                <option value="" selected disabled>Department</option>
                {% for department in departments %}
                <option value="{{department.department}}"
                 {% if request.POST.department == department.department %}selected{% endif %}
                 >{{department.department}}</option>
                {% endfor %}
               </select>
            </form>
  
             <!-- <select class="text-center w-100" name="" id="" >
              <option value="">Select Department</option>
              <option value="">Library Services</option>
              <option value="">Student Services</option>
              <option value="">Finance Department</option>
              <option value="">Food Services</option>
              <option value="">Technopreneurship</option>
  
             </select> -->
            </div>
  
      </div>
        </div>
              <!-- list of all users -->
              <div class="tab-pane fade show active pb-3" id="pills-1">
                <div class="user-details mt-3 bg-white ps-2 pe-2 me-2 border border-dark" >
                  <section class="header d-none">
                      <div class="items-controller d-flex ">
                          <h5>Show</h5>
                          <select name="" id="itemperpage">
                            <option value="01">01</option>
                              <option value="04">04</option>
                              <option value="05">05</option>
                              <option value="08" selected>08</option>
                              <option value="10">10</option>
                              <option value="15">15</option>
                          </select>
                          <h5>Per Page</h5>
                      </div>
                  </section>
                  <section class="field">
                    <div class="table-responsive">
  
                      <table class="table" id="table">
                        <thead>
                            <tr>
                              <th scope="col">Sl.No</th>
                              <th scope="col">PO No</th>
                              <th scope="col">Submitted by</th>
                              <th scope="col">Category</th>
                              <th scope="col">Amount</th>
                              <th scope="col">Action</th>
      
                            </tr>
                          </thead>
                          <tbody>
                            {% for po in pos %}
                            <tr class="table-" data-id="{{ po.po_no }}">
                                
                                <th scope="row">{{ forloop.counter }}</th>
                       
                                <td class="po_no">{{ po.po_no }}</td>
                                <td class="email_submitted_by">{{ po.email_submitted_by }}</td>
                                <td class="category">{{ po.category }}</td>
                                <td class="amount">{{ po.amount }}</td>
      
                                <td style='display: none;' class="department">{{ po.department }}</td>
                                <td style='display: none;' class="date">{{ po.date }}</td>
                                <td style='display: none;' class="sub_category">{{ po.sub_category }}</td>
                                <td style='display: none;' class="hod">{{ po.hod }}</td>
                                <td style='display: none;' class="currency">{{ po.currency }}</td>
                                <td style='display: none;' class="amount_currency">{{ po.amount_currency }}</td>
                                <td style='display: none;' class="quantity">{{ po.quantity }}</td>
                                <td style='display: none;' class="description">{{ po.description }}</td>
                                <td style='display: none;' class="supplier_name">{{ po.supplier_name }}</td>
                                <td style='display: none;' class="name">{{ po.name }}</td>
                                <td style='display: none;' class="attachment">{{ po.attachment }}</td>
                                <td style='display: none;' id="attachement_url" data-url="{% url 'download_file' pno=po.po_no %}"></td>
      
                                <td style="display: flex;">
      
                                  <a 
                                  class="view_btn" data-id={{po.po_no}}
                                  class="delete text-dark" title="view" data-bs-toggle="modal" data-bs-target="#view">
                                  <i class="fa-solid fa-eye" style="font-size:25px;color:#0892A5"></i></a>
                                  
                                  <span class="me-3"></span>
      
                                    <a
                                    class="reject_po" data-id={{po.po_no}}
                                    class="delete text-dark" title="delete/reject" data-bs-toggle="modal" data-bs-target="#delete">
                                      <i class="bx bxs-trash" style="font-size:25px;opacity: 60%;color: #8c8c8c;"></i></a>
      
                                  <span class="me-3"></span>
                                   
                                      <a 
                                      class="pending_po" data-id={{po.po_no}}
                                      class="delete text-dark" title="sent for approval" data-bs-toggle="modal" data-bs-target="#approvalconfirmation">
                                      <i class="bx bxs-check-circle" style="font-size:25px;color:#0892A5"></i></a>
  
                                </td>
                            </tr>
                            {% endfor %}
                          </tbody>
                    </table>
  
                      </div>
                      <div class="bottom-field">
                          <ul class="pagination">
                            <li class="prev"><a href="#" id="prev">&#139;</a></li>
                              <!-- page number here -->
                            <li class="next"><a href="#" id="next">&#155;</a></li>
                          </ul>
                      </div>
                  </section>
                </div>
        
                  </div>
            </div>
        
            </div>
        
                </div>
              </div>
        
              <form method="post" id="r_form">
                {% csrf_token %}
                <input type="hidden" name="form_name" value="r_form">
                <input type="hidden" id='id_r' name="id">
                <input type="hidden" id="po_no_r" name="po_no">
                <input type="hidden" id='status_r' name="status"  value="r">
                <input type="submit" value="" hidden>
              </form>
        
              <form method="post" id="a_form">
                {% csrf_token %}
                <input type="hidden" name="form_name" value="a_form">
                <input type="hidden" id="id_p" name="id">
                <input type="hidden" id="po_no_p" name="po_no">
                <input type="hidden" name="status"  value="a">
                <input type="submit" value="" hidden>
              </form>
  
              <!-- DELETE/REJECT-->
              <div class="modal fade " id="delete" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content p-2 ">
                    <div class="modal-header ">
                      <h5 class="modal-title fw-bold" id="exampleModalLabel">Confirmation</h5>
                    </div>
                    <div class="modal-body fw-bold">
                      Are you sure to REJECT/DELETE this purchase order?
                    </div>
                    <div class="modal-footer ">
                      <button type="button" class="btn  rounded text-uppercase fw-bold fs-6" data-bs-dismiss="modal" style="border-width: 0.1mm;border-color: #0892A5;">cancel</button>
                      <button 
                      id="submit-form"
                      onclick="document.getElementById('r_form').submit();"
                      type="submit" data-bs-toggle="modal" data-bs-target="#deleteSuccess" 
                      class="btn  rounded text-uppercase text-white border fw-bold fs-6"
                      style="background-color: #0892A5; border-color: #0892A5;">delete</button>
                    </div>
                  </div>
                </div>
              </div>
           
              <!--END DELETE -->
  
           
            <!-- View -->
        
            <div class="modal fade" id="view" tabindex="-1"   aria-labelledby="exampleModalLabel" aria-hidden="true" >
              <div class="modal-dialog modal-lg" style="height: 100vh;">    
                <div class="modal-content p-2 ">
                  <div class="modal-header">
                    <h5 class="modal-title fw-bold text-center text-uppercase" id="exampleModalLabel">Purchase Order</h5>
                    <i class="fa fa-close"data-bs-dismiss="modal"  style="cursor: pointer; font-size: 25px; opacity: 60%;"></i>
                  </div>
                  <div class="modal-body fw-bold">
                    <div class="ps-2 pe-2 table">
                      <div class="row row1">
        
                        <div class="col">
                          <span id="po_no_view"></span>
                        </div>
                        <div class="col text-end" id="date_view"></div>
        
                      </div>
                      <div class="row row2">
                        <div class="col col1">Category:</div>
                        <div class="col col2">Head of Department:</div>
                        
                      </div>
                      <div class="row row3">
                        <div class="col">
                          <span id="category_view" class="m-0 p-0 me-1"></span>
                          (<span id="subcategory_view" class="m-0 p-0"></span>)
                        </div>
                        <div class="col d-flex">
                          <span id="hod_view" class="m-0 p-0 me-1"></span>(<span id="department_view" class="m-0 p-0"></span>)
                        </div>
                      </div>
                      <div class="row row4">
                        <div class="col">Description:</div>
                        
                      </div>
                      <div class="row row5" >
                        <div class="col" id="desc_view"></div>
                      </div>
                  
                      <div class="row row6">
                        <div class="col">Submitted by:</div>
                    
                      </div>
                      <div class="row row7">
                        <div class="col">
                          <span class="m-0 p-0 me-1">Name:</span>
                          <span class="m-0 p-0" id="name_view"></span>
                        </div>
                        <div class="col">
                          <span class="m-0 p-0 me-1">Email:</span>
                          <span class="m-0 p-0" id="email_submitted_by_view"></span>
                        </div>
                      </div>
                      <div class="row row10">
                        <div class="col col-4 col1 d-flex align-items-center 
                        border-light border-top-0 border-end-0 border-start-0"
                        >Supplier Name</div>
                        <div class="col col2 text-start">
                          <div id="supplier_name_view">
                            
                          </div>    
                        </div>
                        
                      </div>
                      <div class="row row8" >
                        <div class="col col1">
                          <span class="m-0 p-0">Amount</span>
                          (<span class="m-0 p-0" id="currency_view"></span>)
                        </div>
                        <div class="col col2">Quantity</div>
                        <div class="col col3">Amount (Nu)</div>
                      </div>
                      <div class="row row9" >
                        <div class="col" id="amount_currency_view"></div>
                        <div class="col col2" id="quantity_view"></div>
                        <div class="col col3"  id="amount_view"></div>
                      </div>
                      <div class="row row10">
                        <div class="col col-4 col1 d-flex align-items-center">Attachments</div>
                        <div class="col col2 text-center">
                          <div id="attachment_view">
        
                          </div>    
                        </div>
                      </div>
                    </div>
                    <div class="ps-2 pe-2 pb-3 text-center">
                      <button 
                      id="submit-form"
                      onclick="document.getElementById('r_form').submit();"
                      type="submit" class="btn  rounded text-uppercase fw-bold fs-6 w-25" data-bs-toggle="modal"
                        data-bs-target="#reject" style="border-width: 0.1mm;border-color: #0892A5;">reject</button>
        
                      <button 
                      id="submit-form2"
                      onclick="document.getElementById('a_form').submit();"
                      type="submit" data-bs-toggle="modal" data-bs-target="#sendforapproval" 
                      class="btn  w-50 rounded text-uppercase text-white border fw-bold fs-6" 
                      style="background-color: #0892A5; border-color: #0892A5;">APPROVE</button>
        
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
        
            <!-- view END -->
  
              <!-- send for approval -->
        
              <div class="modal fade " id="approvalconfirmation" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content p-2 ">
                    <div class="modal-header ">
                      <h5 class="modal-title fw-bold" id="exampleModalLabel">Confirmation</h5>
                    </div>
                    <div class="modal-body fw-bold">
                      Do you want to approve this PO?
                    </div>
                    <div class="modal-footer ">
                      <button 
                      id="submit-form"
                      type="button" class="btn  rounded text-uppercase fw-bold fs-6" data-bs-dismiss="modal" style="border-width: 0.1mm;border-color: #0892A5;">cancel</button>
                      <button
                      id="submit-form2"
                      onclick="document.getElementById('a_form').submit();"
                      type="submit" data-bs-toggle="modal" data-bs-target="#sentsuccess"
                       class="btn  rounded text-uppercase text-white border fw-bold fs-6" style="background-color: #0892A5; border-color: #0892A5;">Approve</button>
                    </div>
                  </div>
                </div>
              </div>
          
              <!-- send for appproval END -->
     </section>
    
    <!-- this is the modal that displays msg -->
  <div>
    <div class="modal" tabindex="-1" role="dialog" id="message-modal" style="background-color: rgba(0, 0, 0, 0.4);">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" style="color: #0892A5; border-color: #0892A5; background-color: white;">
          <div class="" style="display: flex; justify-content: space-between;">
            <p class="modal-title"></p>
            <button type="button" class="btn" id="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p id="message-text" style="text-align: center;"></p>
          </div>
        </div>
      </div>
    </div>
    <!-- handle msg -->
    {% if messages %}
    <script>
      const messageText = document.getElementById("message-text");
      messageText.innerHTML = "{% for message in messages %}{{ message }}{% endfor %}";
      const messageModal = document.getElementById("message-modal");
      messageModal.style.display = "block";
    </script>
    {% endif %}
    <script> 
    const msgCloseBtn = document.querySelector('#close')
    msgCloseBtn.addEventListener("click", function(){
        messageModal.style.display = "none";
    })
    setTimeout(function() {
      messageModal.style.display = "none";
    }, 10000);
    </script> 
  </div>
  
  <script src="{% static '/js/po_list_approval_view.js' %}"></script>
  
  <script src="{% static '/js/script.js' %}"></script>
  <script src="{% static '/js/pagination_edit.js' %}"></script>
  <script src="{% static '/js/profile.js' %}"></script> 
        
  </body>
</html>
