
{% load static%}
<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title>GCIT Finance App </title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="{% static 'css/hod_submit.css' %}">
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
  <!-- Boxicons CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/6671961b0d.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="sidebar open">
    <div class="logo-details">
      <img class=" gcit_logo" src="{% static 'images/GCIT_logo.png' %}" alt="">
      <i class='bx bx-menu' id="btn" style="font-size: 30px;"></i>
    </div>
    <div class="logo-details">
      <img class="logo" src="{% static 'images/logo.png' %}" alt="">
    </div>
    <!-- Role -->
    <div class="logo-details ms-5" style="margin-top: 150px;">
      <p class=" text-uppercase" style="font-size: 21px;">head of finance</p>


    </div>
    <hr class="w-100" style="height: 3px; background-color: black;opacity:50%;">
    <ul class="nav-list">
      <li>
        <a class="dashboard" href="{% url 'hof_dashboard' %}">
          <i class='bx bx-grid-alt  me-4' style="font-size: 30px;"></i>
          <span class="links_name"> Dashboard</span>
        </a>

      </li>
      <li>
        <a class="" href="{% url 'hof_approval' %}">
          <i class='bx bxs-send me-4 ' style="font-size: 30px;"></i>
          <span class="links_name">Sent for Approval</span>
        </a>

      </li>
      <li>
        <a class=" " href="{% url 'hof_po_for_approval' %}">
          <i class='bx bx-file-blank  me-4' style="font-size: 30px;"></i>
          <span class="links_name">PO for Approval</span>
        </a>

      </li>
      <li>
        <a class="" href="{% url 'hof_ivr_for_approval' %}">
          <i class='bx bxs-file-blank me-4' style="font-size: 30px;"></i>
          <span class="links_name">IVR for Approval</span>
        </a>

      </li>
      <li>
        <a class="" href="{% url 'hof_pending_forms' %}">
          <i class='bx bx-dna me-4' style="font-size: 30px;"></i>
          <span class="links_name">Pending</span>
        </a>

      </li>



    </ul>
  </div>
  <!-- log out model -->
  <div class="modal fade " id="exampleModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content p-2 ">
        <div class="modal-header ">
          <h5 class="modal-title fw-bold" id="exampleModalLabel">Confirmation</h5>
        </div>
        <div class="modal-body fw-bold">
          Are you sure you want to log out?
        </div>
        <div class="modal-footer ">
          <button type="button" class="btn  rounded text-uppercase fw-bold fs-6" data-bs-dismiss="modal"
            style="border-width: 0.1mm;border-color: #0892A5;">Close</button>
          <button type="button" class="btn  rounded text-uppercase text-white border fw-bold fs-6"
            style="background-color: #0892A5; border-color: #0892A5;"><a href='../logout' style="text-decoration:none; color:black">Logout</a></button>
        </div>
      </div>
    </div>
  </div>

  <!--END log out model -->
  <section class="home-section">
    <div class="content ps-3 pe-3">
      <div class="hero">
        <nav>
          <div class="header  container-fluid">
            <div class="text pt-3 ps-1">HOF DASHBOARD</div>
          </div>
        </nav>
      </div>

      <div class="action">
        <div class="d-flex">
          <span class="username mt-1 pe-2" id="#username">{{request.session.first_name}}</span>
          <div class="profile text-white" id="profile" onclick="menuToggle();">
            L
          </div>

          <div class="menu shadow-lg">
            <ul>
              <li class=" p-2 me-4 mt-3"><i class="bx bx-user-circle pe-2 " style="font-size: 25px;"></i><a
                  href="../hof_profile">My Profile</a></li>
              <li class=" p-2 me-4" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bx bx-log-out pe-2"
                  style="font-size: 25px;"></i>Logout</li>
          </div>
        </div>
      </div>
      <div class="add-options ps-3 pe-3 mt-3">
        <h5 class="fw-bold pt-3 pb-4" style="color: #0892A5;">FORMS</h5>
        <div class="row row-cols-2 gx-4">
          <div class="col">
            <a href="{% url 'hof_dashboard_po' %}">
              <div class=" border  text-center rounded shadow-sm">
                <i class="bx bx-file-blank"></i>
                <h5>
                  Purchase Order Form
                </h5>
              </div>
            </a>
          </div>
          <div class="col">
            <a href="{% url 'hof_dashboard_ivr' %}">
              <div class=" cat border  text-center rounded shadow-sm">
                <i class="bx bxs-file-blank"></i>
                <h5>
                  Invoice Form
                </h5>
              </div>
            </a>
          </div>
        </div>
      </div>

    </div>
    </div>
  </section>
  <script src="{% static '/js/script.js' %}"></script>
  <script src="{% static '/js/profile.js' %}"></script> 


</body>

</html>