<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <title> GCIT Finance App</title>
  <link rel="stylesheet" href={% static '/css/style.css' %}>
  <link rel="stylesheet" href={% static '/css/admin_add_edit.css' %}>
  <link rel="stylesheet" href={% static '/css/add_user.css' %}>
  <link rel="stylesheet" href={% static '/css/profile.css' %}>
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/6671961b0d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

    <style>
        .gradient-custom {
            /* fallback for old browsers */
            background: white;
        }

        .form-control {
            border-color: #0892A5;
            opacity: 50%;
        }

        .hyper {
            text-decoration: none;
        }
    </style>
</head>

<body>

    <section class="vh-100 gradient-custom">
        <form action="" method="POST">
          {% csrf_token %}
            <div class="container py-4 h-100" style="height:50px;">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-8 col-lg-6 col-xl-5" style="width:398.42px; margin-top:1rem; ">
                        <div class="card bg-white text-dark"
                            style="border-radius: 1rem; filter:drop-shadow(0rem 0rem .5rem #c8c8c8);">
                            <div class="card-body p-5 text-center" style="height:701px;">
                                <div class="mb-md-5 mt-md-1 pb-5">

                                    <img class="FA_logo" src={% static '/images/FA_logo.png' %} alt="" style="width:101px;">
                                    <h2 class="fw-regular mb-4 mt-4 text-uppercase"
                                        style="font-size:24px; color:#0892A5;">
                                        Login
                                    </h2>

                                    <div class="form-outline form-white mb-4">
                                        <label class="form-label"
                                            style="margin-left: -14.8rem; margin-bottom:2px; color:#111111; opacity:50%;"
                                            for="typeEmailX">Email</label>
                                        <input type="email" id="email" class="form-control form-control-md" 
                                            name='email'
                                            pattern=".+gcit@rub.edu.bt" placeholder="user.gcit@rub.edu.bt" required />

                                    </div>

                                    <div class="form-outline form-white mb-4">
                                        <label class="form-label"
                                            style="margin-left:-13rem; margin-bottom:2px; color:#111111; opacity:50%;"

                                            for="typePasswordX">Password</label>
                                        <input type="password" id="typePasswordX"  name='Password'
                                            class="form-control form-control-md" />
                                        <i class="far fa-eye" id="togglePassword" style=" margin-left:6rem; margin-top:-1.59rem; opacity:50%;position:absolute; 
                                    cursor: pointer;"></i>

                                    </div>

                                    <p class="small mb-1  pb-lg-2 "
                                        style="margin-left:4.4rem; margin-top:-0.75rem; width:300px;"><a
                                            style="color:#0892A5; opacity:90%;" class="hyper" href="../forgotpassword">Forgot
                                            password?</a>
                                    </p>
                                    <p style='color:red' class='small'>{{error}}<p/>

                                    <button class="btn btn-md mt-4" type="submit"
                                        style="background-color:#0892A5; color:white; width:100%;">LOGIN</button>

                                    <img class="FA_logo mt-5" src={% static '/images/GCIT_logo.png' %} alt="" style=" width:90px;">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <div>
        <div class="modal" tabindex="-1" role="dialog" id="message-modal" style="background-color: rgba(0, 0, 0, 0.4);">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="color: #0892A5; border-color: #0892A5; background-color: white;">
              <div class="" style="display: flex; justify-content: space-between;">
                <p class="modal-title"></p>
                <button type="button" class="btn" id="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p id="message-text" style="text-align: center;"></p>
              </div>
            </div>
          </div>
        </div>
        <!-- handle msg -->
        {% if messages %}
        <script>
          const messageText = document.getElementById("message-text");
          messageText.innerHTML = "{% for message in messages %}{{ message }}{% endfor %}";
          const messageModal = document.getElementById("message-modal");
          messageModal.style.display = "block";
        </script>
        {% endif %}
        <script> 
        const msgCloseBtn = document.querySelector('#close')
        msgCloseBtn.addEventListener("click", function(){
            messageModal.style.display = "none";
        })
        setTimeout(function() {
          messageModal.style.display = "none";
        }, 10000);
        </script> 
      </div>
    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#typePasswordX');

        togglePassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            // toggle the eye slash icon
            this.classList.toggle('fa-eye-slash');
        });

    </script>

</body>

</html>