{% load static %}
<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>GCIT Finance App </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/hod_submit.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
    <link rel="stylesheet" href="{% static 'css/approval.css' %}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://kit.fontawesome.com/6671961b0d.js" crossorigin="anonymous"></script>
   </head>
<body>
  <div class="sidebar open">
    <div class="logo-details">
      <img class=" gcit_logo" src="{% static 'images/GCIT_logo.png' %}" alt="" >
        <i class='bx bx-menu' id="btn" style="font-size: 30px;"></i>       
    </div>
    <div class="logo-details">
      <img class="logo" src="{% static 'images/logo.png' %}" alt="">
    </div>
     <!-- Role -->
     <div class="logo-details ms-5" style="margin-top: 150px;">
        <p class=" text-uppercase" style="font-size: 25px;margin-left: 10px;">President</p>
        
       
      </div>
      <hr class="w-100" style="height: 3px; background-color: black;opacity:50%;">
      <ul class="nav-list">
        <li>
          <a class="dashboard"  href="{% url 'president_dashboard' %}">
            <i class='bx bx-grid-alt  me-4' style="font-size: 30px;" ></i>
            <span class="links_name"> Dashboard</span>
          </a>
   
        </li>
        <li>
            <a class=" " href="{% url 'president_po_for_approval' %}">
              <i class='bx bx-file-blank  me-4' style="font-size: 30px;"></i>
              <span class="links_name">PO for Approval</span>
            </a>
     
          </li>
          <li>
            <a class="" href="{% url 'president_ivr_for_approval' %}">
              <i class='bx bxs-file-blank me-4' style="font-size: 30px;"></i>
              <span class="links_name">IVR for Approval</span>
            </a>
     
          </li>
      
  
   
      </ul>
  </div>
     <!-- log out model -->
     <div class="modal fade " id="exampleModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-2 ">
          <div class="modal-header ">
            <h5 class="modal-title fw-bold" id="exampleModalLabel">Confirmation</h5>
          </div>
          <div class="modal-body fw-bold">
            Are you sure you want to log out?
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn  rounded text-uppercase fw-bold fs-6" data-bs-dismiss="modal" style="border-width: 0.1mm;border-color: #0892A5;">Close</button>
            <button type="button" class="btn  rounded text-uppercase text-white border fw-bold fs-6" style="background-color: #0892A5; border-color: #0892A5;"><a href='../logout' style="text-decoration:none; color:black">Logout</a></button>
          </div>
        </div>
      </div>
    </div>
 
    <!--END log out model -->
  <section class="home-section">
    <div class="content ps-3 pe-3">
      <div class="hero">
        <nav>
          <div class="header  container-fluid">
            <div class="text pt-3 ps-1">PRESIDENT DASHBOARD</div> 
          </div>
        </nav>
      </div>

      <div class="action">
        <div class="d-flex">
        <span class="username mt-1 pe-2" id="#username">{{request.session.first_name}}</span>
        <div class="profile text-white" id="profile" onclick="menuToggle();">
          L
        </div>
        
        <div class="menu shadow-lg">
          <ul>
            <li class=" p-2 me-4 mt-3"><i class="bx bx-user-circle pe-2 " style="font-size: 25px;" ></i><a href="../president_profile">My Profile</a></li>
            <li  class=" p-2 me-4" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bx bx-log-out pe-2" style="font-size: 25px;" ></i>Logout</li>
            </div>
          </div>
        </div> 
        <div class="title">
          <h5 class="ms-3" style="opacity: 80%;font-weight: bold;color:#0892A5 ;">Purchase Orders (POs)</h5>
        </div>
        <div class="tab-content ps-3 pe-3">
          <div class="row sort pt-2">
    
            <div class="col-md-8 container mb-2">
    
              <div class="row height d-flex justify-content-center align-items-center">
    
                <div class="col">
    
                  <div class="search">
                    <i class="bx bx-search"></i>
                    
                    <form method="post">
                      {% csrf_token %}
                      <input type="hidden"  name="form_name" value="search">
                      <input type="text" name="po_no" value="{{request.POST.po_no}}" class="form-control"  placeholder="Search PO">
                      <button type="submit" class="btn btn-primary">Search</button>
                    </form>

                  </div>
                  
                </div>
                
              </div>
          </div>
    
          <div class="department col">          
            <div class=" w-100">
                
              <form action="" method="post" onchange="submit()">
                {% csrf_token %}
                <input type="hidden"  name="form_name" value="sort">
                <select class="text-center w-100" name="status" id="" >
                  <option value="" selected disabled>Status</option>
                  <option value="a" {% if request.POST.status == 'a' %}selected{% endif %}>Approved</option>
                  <option value="r" {% if request.POST.status == 'r' %}selected{% endif %}>Rejected</option>
                  <option value="p" {% if request.POST.status == 'p' %}selected{% endif %}>Pending</option>
                  </select>
              </form>

              </div>
    
        </div>
    </div>
          <!-- list of all users -->
          <div class="tab-pane fade show active pb-3" id="pills-1">
            <div class="user-details mt-3 bg-white ps-2 pe-2 me-2 border border-dark" >
              <section class="header d-none">
                  <div class="items-controller d-flex ">
                      <h5>Show</h5>
                      <select name="" id="itemperpage">
                        <option value="01">01</option>
                          <option value="04">04</option>
                          <option value="05">05</option>
                          <option value="08" selected>08</option>
                          <option value="10">10</option>
                          <option value="15">15</option>
                      </select>
                      <h5>Per Page</h5>
                  </div>
              </section>
              <section class="field">
                <div class="table-responsive">

              <form method="post" id="export-selected-po-form" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
                 
                <div  style="height:61vh;overflow:auto;">
                  <table class="table table-hover" id="table">
                    <thead>
                        <tr>
                          <th scope="col">Select</th>

                          <th scope="col">Sl.No</th>
                          <th scope="col">PO No</th>
              
                          <th scope="col">Submitted by</th>
                          <th scope="col">Category</th>
                          <th scope="col">Amount</th>
                          <th scope="col">Action</th>
  
                        </tr>
                      </thead>
                      <tbody>
                        {% for po in pos %}
                        <tr class="table-" data-id="{{ po.po_no }}">
                            
                          <th scope="row">
                            <label class="container">
                              <input type="checkbox" name="selected_po" value="{{po.po_no}}">
                              <span class="checkmark"></span>
                            </label>
                          </th>

                            <th scope="row">{{ forloop.counter }}</th>
                    
                            <td class="po_no">{{ po.po_no }}</td>
                            <td class="email_submitted_by">{{ po.email_submitted_by }}</td>
                            <td class="category">{{ po.category }}</td>
                            <td class="amount">{{ po.amount }}</td>
                            <td style='display: none;' class="department">{{ po.department }}</td>
                            <td style='display: none;' class="date">{{ po.date }}</td>
                            <td style='display: none;' class="sub_category">{{ po.sub_category }}</td>
                            <td style='display: none;' class="hod">{{ po.hod }}</td>
                            <td style='display: none;' class="currency">{{ po.currency }}</td>
                            <td style='display: none;' class="amount_currency">{{ po.amount_currency }}</td>
                            <td style='display: none;' class="quantity">{{ po.quantity }}</td>
                            <td style='display: none;' class="description">{{ po.description }}</td>
                            <td style='display: none;' class="supplier_name">{{ po.supplier_name }}</td>
                            <td style='display: none;' class="name">{{ po.name }}</td>
                            <td style='display: none;' class="attachment">{{ po.attachment }}</td>
                            <td style='display: none;' id="attachement_url" data-url="{% url 'download_file' pno=po.po_no %}"></td>
                            <td>
                            <a 
                              class="view_btn" data-id={{po.po_no}}
                              class="delete text-dark" title="view" data-bs-toggle="modal" data-bs-target="#view">
                              <i class="fa-solid fa-eye" style="font-size:25px;color:#0892A5"></i>
                            </a>

                            <a
                            hidden
                            id="export_an_excel" data-url="{% url 'export_po' po.po_no %}"
                            href="{% url 'export_po' po.po_no %}">Export Excel</a>

                            <!-- <a
                            hidden
                            id="export_an_pdf" data-url="{% url 'export_po' po.po_no %}" style="text-decoration: none;"
                            href="{% url 'export_po' po.po_no %}" class="ms-3 btn-sm btn-outline-secondary">Export PDF</a> -->

                            </td>
                        </tr>
                        {% endfor %}
  
                      </tbody>
                </table>
                </div>

                <label class="container mt-3">
                  <input type="checkbox" name="select_all" id="select_all"> 
                  <span class="text-secondary">Select All</span> 
                  <span class="checkmark"></span>
                </label>

                <div class="bottom-field">

                  <!-- <ul class="pagination">
                    <li class="prev"><a href="#" id="prev">&#139;</a></li>
                    <li class="next"><a href="#" id="next">&#155;</a></li>
                  </ul> -->

                  <div class="mb-3 d-flex" style="justify-content: right;">

                    <!-- <button 
                    id="export_selected_btn"
                    onclick=""
                     type="button" data-bs-toggle="modal" class="raa one btn btn-md "
                    data-bs-target="#changesConfirmation" style="background-color:#0892A5; color:white;">Export Selected</button> -->

                    <button type="submit" class="btn btn-md" id="export-excel-button" style="background-color:#0892A5; color:white;">Export Selected to Excel</button>


                    <span class="me-2"></span>

                    <button type="submit" class="btn btn-md" id="export-pdf-button" style="background-color:#0892A5; color:white;">Export Selected to PDF</button>

                  <!-- <button class="raa all btn btn-md" type="button" data-bs-toggle="modal"
                    data-bs-target="#changesConfirmation" style="background-color:#0892A5; color:white;">Export
                    All</button> -->

                  </div>

                </div>
                
              </form>
              
                </div>
              
                <div class="modal fade " id="changesConfirmation" tabindex="-1" data-bs-backdrop="static"
                  aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content p-2 ">
                      <div class="modal-header ">
                        <h5 class="modal-title fw-bold" id="exampleModalLabel">Choose file format</h5>
                      </div>
                      <div class="col col2 text-center">
                        <i class="fa-solid fa-file-pdf"
                          style="font-size: 40px;color: rgb(255, 27, 27); margin-left:-0.1rem;"></i>
                        <i class="fa-solid fa-file-excel" style="font-size: 40px;color: green; margin-left:12rem;"></i>
  
                      </div>
                      <div class="modal-footer ">
                        <button type="button" class="btn  rounded text-uppercase fw-bold fs-6" data-bs-dismiss="modal"
                          style="border-width: 0.1mm;color:white;border-color: #0892A5;background-color:#0892A5">PDF</button>
                        <button type="button" class="btn  rounded text-uppercase text-white border fw-bold fs-6"
                          data-bs-toggle="modal" data-bs-target="#changesSuccess" data-bs-dismiss="modal"
                          style="background-color: #0892A5; border-color: #0892A5;">Excel</button>
                      </div>
                    </div>
                  </div>
                </div>
  
              </section>
            </div>
  
          </div>
  
  
  
        </div>
      </div>
  
      </div>
      </div>
  
      <!-- View -->
  
      <div class="modal fade" id="view" tabindex="-1"   aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-lg" style="height: 100vh;">    
          <div class="modal-content p-2 ">
            <div class="modal-header">
              <h5 class="modal-title fw-bold text-center text-uppercase" id="exampleModalLabel">Purchase Order</h5>
              <i class="fa fa-close"data-bs-dismiss="modal"  style="cursor: pointer; font-size: 25px; opacity: 60%;"></i>
            </div>
            <div class="modal-body fw-bold">
              <div class="ps-2 pe-2 table">
                <div class="row row1">

                  <div class="col">
                    <span id="po_no_view"></span>
                  </div>
                  <div class="col text-end" id="date_view"></div>

                </div>
                <div class="row row2">
                  <div class="col col1">Category:</div>
                  <div class="col col2">Head of Department:</div>
                  
                </div>
                <div class="row row3">
                  <div class="col">
                    <span id="category_view" class="m-0 p-0 me-1"></span>
                    (<span id="subcategory_view" class="m-0 p-0"></span>)
                  </div>
                  <div class="col d-flex">
                    <span id="hod_view" class="m-0 p-0 me-1"></span>(<span id="department_view" class="m-0 p-0"></span>)
                  </div>
                </div>
                <div class="row row4">
                  <div class="col">Description:</div>
                  
                </div>
                <div class="row row5" >
                  <div class="col" id="desc_view"></div>
                </div>
            
                <div class="row row6">
                  <div class="col">Submitted by:</div>
              
                </div>
                <div class="row row7">
                  <div class="col">
                    <span class="m-0 p-0 me-1">Name:</span>
                    <span class="m-0 p-0" id="name_view"></span>
                  </div>
                  <div class="col">
                    <span class="m-0 p-0 me-1">Email:</span>
                    <span class="m-0 p-0" id="email_submitted_by_view"></span>
                  </div>
                </div>
                <div class="row row10">
                  <div class="col col-4 col1 d-flex align-items-center 
                  border-light border-top-0 border-end-0 border-start-0"
                  >Supplier Name</div>
                  <div class="col col2 text-start">
                    <div id="supplier_name_view">
                      
                    </div>    
                  </div>
                  
                </div>
                <div class="row row8" >
                  <div class="col col1">
                    <span class="m-0 p-0">Amount</span>
                    (<span class="m-0 p-0" id="currency_view"></span>)
                  </div>
                  <div class="col col2">Quantity</div>
                  <div class="col col3">Amount (Nu)</div>
                </div>
                <div class="row row9" >
                  <div class="col" id="amount_currency_view"></div>
                  <div class="col col2" id="quantity_view"></div>
                  <div class="col col3"  id="amount_view"></div>
                </div>
                <div class="row row10">
                  <div class="col col-4 col1 d-flex align-items-center">Attachments</div>
                  <div class="col col2 text-center">
                    <div id="attachment_view">

                    </div>    
                  </div>
              
                </div>
                <div class="col col2 text-center">
                  <button 
                  id="view_export_btn" 
                  class="btn btn-sm mt-5 w-25" type="button" 
                    style="background-color:#0892A5; color:white;">Export as Excel</button>

                  <!-- <button 
                  id="view_export_btn" 
                  class="btn btn-sm mt-5 w-25" type="button" 
                  style="background-color:#0892A5; color:white;">Export PDF</button> -->

                  <!-- <button 
                  id="view_export_btn" 
                  class="btn btn-sm mt-5 w-25" type="button" data-bs-toggle="modal" data-bs-target="#export"
                    style="background-color:#0892A5; color:white;">Export</button> -->

                  <div class="modal fade " id="export" tabindex="-1" data-bs-backdrop="static"
                    aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-left:-1.1rem;">
                    <div class=" modal-dialog modal-dialog-centered">
                      <div class="modal-content p-2 ">
                        <div class="modal-header ">
                          <h5 class="modal-title fw-bold" id="exampleModalLabel">Choose file format</h5>
                        </div>
                        <div class="col col2 text-center">
                          <i class="fa-solid fa-file-pdf"
                            style="font-size: 40px;color: rgb(255, 27, 27); margin-left:-0.1rem;"></i>
                          <i class="fa-solid fa-file-excel"
                            style="font-size: 40px;color: green; margin-left:12rem;"></i>

                        </div>
                        <div class="modal-footer ">
                          <button 
                          id="export-pdf-button"
                          type="button" class="btn  rounded text-uppercase fw-bold fs-6" data-bs-dismiss="modal"
                            style="border-width: 0.1mm;color:white;border-color: #0892A5;background-color:#0892A5">PDF</button>
                          
                            <button 
                            id="export-excel-button"
                            type="button" class="btn  rounded text-uppercase text-white border fw-bold fs-6"
                            data-bs-toggle="modal" data-bs-target="#changesSuccess" data-bs-dismiss="modal"
                            style="background-color: #0892A5; border-color: #0892A5;">Excel</button>
                        </div>
                      </div>
                    </div>

                  </div>


                </div>
              </div>
            </div>
          </div>
        </div>
    
      </div>
  
        <!-- view END -->
  
  </section>
  
  <script src="{% static '/js/po_list_export_view.js' %}"></script>

  <script src="{% static '/js/script.js' %}"></script>
  <!-- <script src="{% static '/js/pagination_edit.js' %}"></script> -->
  <script src="{% static '/js/profile.js' %}"></script> 
</body>
</html>