<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="text/html; charset=utf-8" http-equiv="content-type" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

<title> GCIT Finance App</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<div class="form-gap" style="padding-top: 70px"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div>
                    <span><i class="bx bx-left-arrow-alt" style="font-size: 25px;color: #0892A5;cursor: pointer;" onclick="login()"></i></span>
                </div>
                <div class="text-center">
                  <h3><i class='bx bx-lock-alt' style="font-size: 110px;"></i></h3>
                  <h2 class="text-center" style="color: #0892A5;">Forgot Password?</h2>
                  <p>You can reset your password here.</p>
                  <p>Enter your Email below.</p>
                  <div class="panel-body">
    
                    <form id="register-form" role="form" autocomplete="off" class="form" method="post">
                      {% csrf_token %}
                      <div class="form-group">
                        <div class="input-group " style="height: 45px;">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope "></i></span>
                          <input id="email" name="email" placeholder="email address" class="form-control"  type="email"  style="height: 45px;" required>
                        </div>
                      </div>
                      <div class="form-group">
                        <input name="recover-submit" class="btn btn-lg btn-block " onclick="done()" value="Reset Password" type="submit" style="background-color:#0892A5;color: white;">                     
                      </div>                                                  
                    </form>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>
<script>
    function done(){
        location.href='done.html'
    }
    function login(){
        location.href='login.html'
    }
</script>
</html>