{% load static %}
<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>GCIT Finance App </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/hod_submit.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/edit.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
    <link rel="stylesheet" href="{% static 'css/approval.css' %}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <script src="https://kit.fontawesome.com/6671961b0d.js" crossorigin="anonymous"></script>
   
     <!-- Google Fonts -->
     <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
     <!-- ========================================================= -->

     <link rel="stylesheet" href="assets/css/bootstrap.min.css">
     <link rel="stylesheet" href="assets/css/datatables.min.css">
     <link rel="stylesheet" href="assets/css/style.css">

   
    </head>
<body>
  <div class="sidebar open">
    <div class="logo-details">
      <img class=" gcit_logo" src="{% static 'images/GCIT_logo.png' %}" alt="" >
        <i class='bx bx-menu' id="btn" style="font-size: 30px;"></i>       
    </div>
    <div class="logo-details">
      <img class="logo" src="{% static 'images/logo.png' %}" alt="">
    </div>
   <!-- Role -->
   <div class="logo-details ms-5" style="margin-top: 150px;">
    <p class=" text-uppercase" style="font-size: 18px;margin-left: 20px;">GCIT Staff</p>
    
   
  </div>
  <hr class="w-100" style="height: 3px; background-color: black;opacity:50%;">
  <ul class="nav-list">
    <li>
      <a class="dashboard text-light active" href="{% url 'staff_dashboard' %}">
        <i class='bx bx-grid-alt me-5 ' style="font-size: 30px;"></i>
        <span class="links_name">Dashboard</span>
      </a>

    </li>
    <li>
     <a class="" href="{% url 'staff_submit_po' %}">
       <i class="bx bx-file-blank me-5" style="font-size: 30px;" ></i>
       <span class="links_name">Submit PO</span>
     </a>

   </li>
   <li>
     <a class="" href="{% url 'staff_submit_ivr' %}">
       <i class='bx bxs-file-blank me-5' style="font-size: 30px;"></i>
       <span class="links_name">Submit IVR</span>
     </a>

   </li>
  


  </ul>
</div>
     <!-- log out model -->
     <div class="modal fade " id="exampleModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-2 ">
          <div class="modal-header ">
            <h5 class="modal-title fw-bold" id="exampleModalLabel">Confirmation</h5>
          </div>
          <div class="modal-body fw-bold">
            Are you sure you want to log out?
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn  rounded text-uppercase fw-bold fs-6" data-bs-dismiss="modal" style="border-width: 0.1mm;border-color: #0892A5;">Close</button>
            <button type="button" class="btn  rounded text-uppercase text-white border fw-bold fs-6" style="background-color: #0892A5; border-color: #0892A5;"><a href='../logout' style="text-decoration:none; color:black">Logout</a></button>
          </div>
        </div>
      </div>
    </div>
 
    <!--END log out model -->
    <section class="home-section">
      <div class="content ps-3 pe-3">
        <div class="hero">
          <nav>
            <div class="header  container-fluid">
              <div class="text pt-3 ps-1 ">STAFF DASHBOARD</div> 
            </div>
          </nav>
        </div>
  
        <div class="action">
          <div class="d-flex">
          <span class="username mt-1 pe-2" id="#username">{{request.session.first_name}}</span>
          <div class="profile text-white" id="profile" onclick="menuToggle();">
            S
          </div>
          
          <div class="menu shadow-lg">
            <ul>
              <li class=" p-2 me-4 mt-3"><i class="bx bx-user-circle pe-2 " style="font-size: 25px;" ></i><a href="../staff_dashboard_profile">My Profile</a></li>
              <li  class=" p-2 me-4" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bx bx-log-out pe-2" style="font-size: 25px;" ></i>Logout</li>
              </div>
            </div>
          </div> 
         <div class="title">
        <h5 class="ms-3" style="opacity: 80%;font-weight: bold;color:#0892A5 ;">List of IVR Forms Submitted</h5>
      </div>
      <div class="tab-content ps-3 pe-3">
        <div class="row sort pt-2">
  
          <div class="col-md-8 container mb-2">
  
            <div class="row height d-flex justify-content-center align-items-center">
  
              <div class="col">
  
                <div class="search">
                  <i class="bx bx-search"></i>
                 
                  <form method="post">
                    {% csrf_token %}
                    <input type="hidden"  name="form_name" value="search">
                    <input type="text" name="inv_no" value="{{request.POST.inv_no}}" class="form-control"  placeholder="Search IVR">
                    <button type="submit" class="btn btn-primary">Search</button>
                  </form>

                </div>
                
              </div>
              
            </div>
        </div>
  
        <div class="department col me-2">          
          <div class=" w-100">
             
            <form action="" method="post" onchange="submit()">
              {% csrf_token %}
              <input type="hidden"  name="form_name" value="sort">
              <select class="text-center w-100" name="status" id="" >
                <option value="" selected disabled>Status</option>
                <option value="a" {% if request.POST.status == 'a' %}selected{% endif %}>Approved</option>
                <option value="r" {% if request.POST.status == 'r' %}selected{% endif %}>Rejected</option>
                <option value="p" {% if request.POST.status == 'p' %}selected{% endif %}>Pending</option>
               </select>
            </form>
  
             </select>
            </div>
  
      </div>
  </div>
        <!-- list of all users -->
        <div class="tab-pane fade show active pb-3" id="pills-1">
          <div class="user-details mt-3 bg-white ps-2 pe-2 me-2 border border-dark" >
            <section class="header d-none">
                <div class="items-controller d-flex ">
                    <h5>Show</h5>
                    <select name="" id="itemperpage">
                      <option value="01">01</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="08" selected>08</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                    </select>
                    <h5>Per Page</h5>
                </div>
            </section>
            <section class="field">
              <div class="table-responsive">
                
                <table class="table" id="table">
                  <thead>
                      <tr>
                        <th scope="col">Sl.No</th>
                        <th scope="col">PO No</th>
                        <th scope="col">IVR No</th>
                        <th scope="col">Submitted by</th>
                        <th scope="col">Category</th>
                        <th scope="col">Amount</th>
                        <th scope="col">Action</th>

                      </tr>
                    </thead>
                    <tbody>
                      {% for ivr in ivrs %}
                      <tr class="table-" data-id="{{ivr.inv_no}}">

                        <th scope="row">{{forloop.counter}}</th>
                        <td class="po_no">{{ ivr.po_no }}</td>
                        <td class="inv_no">{{ ivr.inv_no }}</td>
                        <td class="email_submitted_by">{{ ivr.email_submitted_by }}</td>
                        <td class="category">{{ ivr.category }}</td>
                        <td class="amount">{{ ivr.amount }}</td>

                        <td style='display: none;' class="department">{{ ivr.department }}</td>
                        <td style='display: none;' class="date">{{ ivr.date }}</td>
                        <td style='display: none;' class="sub_category">{{ ivr.sub_category }}</td>
                        <td style='display: none;' class="hod">{{ ivr.hod }}</td>
                        <td style='display: none;' class="currency">{{ ivr.currency }}</td>
                        <td style='display: none;' class="amount_currency">{{ ivr.amount_currency }}</td>
                        <td style='display: none;' class="quantity">{{ ivr.quantity }}</td>
                        <td style='display: none;' class="description">{{ ivr.description }}</td>
                        <td style='display: none;' class="supplier_name">{{ ivr.supplier_name }}</td>
                        <td style='display: none;' class="name">{{ ivr.name }}</td>
                        <td style='display: none;' class="attachment">{{ ivr.attachment }}</td>
                        <td style='display: none;' id="attachement_url" data-url="{% url 'download_file' pno=ivr.po_no %}"></td>

                        <td style='display: none;' class="payee_name">{{ ivr.payee_name }}</td>
                        <td style='display: none;' class="payee_acc_no">{{ ivr.payee_acc_no }}</td>
                        <td style='display: none;' class="tpn_no">{{ ivr.tpn_no }}</td>
                        <td style='display: none;' class="payee_bank_name">{{ ivr.payee_bank_name }}</td>

                        <td>
                          <a 
                          class="view_btn" data-id={{ivr.inv_no}}
                          class="delete text-dark" title="view" data-bs-toggle="modal" data-bs-target="#view">
                          <i class="fa-solid fa-eye" style="font-size:25px;color:#0892A5"></i>
                          </a>
                          
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
              </table>

                </div>
                <div class="bottom-field">
                    <ul class="pagination">
                      <li class="prev"><a href="#" id="prev">&#139;</a></li>
                        <!-- page number here -->
                      <li class="next"><a href="#" id="next">&#155;</a></li>
                    </ul>
                </div>
            </section>
          </div>
  
            </div>
     
  
        
      </div>
          
  
  
  
      </div>
  
          </div>
        </div>
     
      <!-- View -->
  
      <div class="modal fade" id="view" tabindex="-1"   aria-labelledby="exampleModalLabel" aria-hidden="true" >
        <div class="modal-dialog modal-lg" style="height: 100vh;">    
          <div class="modal-content p-2 ">
            <div class="modal-header">
              <h5 class="modal-title fw-bold text-center text-uppercase" id="exampleModalLabel">invoice</h5>
              <i class="fa fa-close"data-bs-dismiss="modal"  style="cursor: pointer; font-size: 25px; opacity: 60%;"></i>
            </div>
            <div class="modal-body fw-bold">
              <div class="ps-2 pe-2 table">
                <div class="row row1">
                  <div class="col" id="po_no_view"></div>
                  <div class="col text-end" id="date_view"></div>
                </div>
                <div class="row row2">
                  <div class="col col1">Category:</div>
                  <div class="col col2">Head of Department:</div>
                  
                </div>
                <div class="row row3">
                  <div class="col">
                    <span id="category_view" class="m-0 p-0 me-1"></span>
                    (<span id="subcategory_view" class="m-0 p-0"></span>)
                  </div>
                  <div class="col ">
                    <span id="hod_view" class="m-0 p-0 me-1"></span>(<span id="department_view" class="m-0 p-0"></span>)
                  </div>
                </div>
                <div class="row row4">
                  <div class="col">Description:</div>
                 
                </div>
                <div class="row row5" >
                  <div class="col" id="desc_view">
                  </div>
                </div>
            
                <div class="row row6">
                  <div class="col">Submitted by:</div>
              
                </div>
                <div class="row row7">
                  <div class="col">
                    <span class="m-0 p-0 me-1">Name:</span>
                    <span class="m-0 p-0" id="name_view"></span>
                  </div>
                  <div class="col">
                    <span class="m-0 p-0 me-1">Email:</span>
                    <span class="m-0 p-0" id="email_submitted_by_view"></span>
                  </div>
                </div>
                <div class="row row10">
                  <div class="col col-4 col1 d-flex align-items-center 
                  border-light border-top-0 border-end-0 border-start-0">Supplier Name</div>
                  <div class="col col2 text-start">
                    <div id="supplier_name_view"></div>    
                  </div>
                </div>

                <div class="row row8" >
                  <div class="col col1">
                    <span class="m-0 p-0">Amount</span>
                    (<span class="m-0 p-0" id="currency_view"></span>)
                  </div>
                  <div class="col col2">Quantity</div>
                  <div class="col col3">Amount(Nu)</div>
                </div>
                <div class="row row9" >
                  <div class="col" id="amount_currency_view"></div>
                  <div class="col col2" id="quantity_view"></div>
                  <div class="col col3"  id="amount_view"></div>
                </div>
                <div class="row row11">
                  <div class="col col1">Payee Name</div>
                  <div class="col col2"> Payee Account No </div>
                  <div class="col col3"> TRP No</div>
                  <div class="col col4"> Payee Bank Name</div>
              
                </div>
                <div class="row row12">
                  <div class="col col1" id="payee_name_view"></div>
                  <div class="col col2" id="payee_acc_no_view"></div>
                  <div class="col col3" id="tpn_no_view"></div>
                  <div class="col col4" id="payee_bank_name_view"></div>
                </div>
                <div class="row row10">
                  <div class="col col-4 col1 d-flex align-items-center">Attachments</div>
                  <div class="col col2 text-center"> 
                    <div id="attachment_view">

                    </div> 
                    <!-- <i class="fa-solid fa-file-pdf" style="font-size: 40px;color: red;"></i>
                    <i class="fa-solid fa-file-excel" style="font-size: 40px;color: green;"></i>
                    <i class="fa-solid fa-file-word" style="font-size: 40px;color: #4392f1"></i>
                    <i class="fa-solid fa-file-image" style="font-size: 40px;color: #000000"></i> -->
                  </div>
              
                </div>
  
              </div>
            </div>
          </div>
        </div>
    
      </div>
  
      <!-- view END -->

    </section>

<script src="{% static '/js/ivr_list_views.js' %}"></script>

<script src="{% static '/js/script.js' %}"></script>
<script src="{% static '/js/pagination_edit.js' %}"></script>
<script src="{% static '/js/profile.js' %}"></script> 
</body>
</html>
