{% load static %}
<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GCIT Finance App </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
     <script src="https://kit.fontawesome.com/6671961b0d.js" crossorigin="anonymous"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   
   </head>
<body>
  <div class="sidebar open">
    <div class="logo-details">
      <img class=" gcit_logo" src="{% static 'images/GCIT_logo.png' %}" alt="logo" >
     
        <i class='bx bx-menu' id="btn" style="font-size: 30px;"></i>       
    </div>
    <div class="logo-details">
      <img class="logo" src="{% static 'images/logo.png' %}" alt="">
    </div>

       
      <!-- Role -->
    <div class="logo-details ms-5" style="margin-top: 150px;">
        <p class=" text-uppercase" style="font-size: 18px;margin-left: 20px;">GCIT Staff</p>
        
       
      </div>
      <hr class="w-100" style="height: 3px; background-color: black;opacity:50%;">
      <ul class="nav-list">
        <li>
          <a class="" href="{% url 'staff_dashboard' %}">
            <i class='bx bx-grid-alt me-5 ' style="font-size: 30px;"></i>
            <span class="links_name">Dashboard</span>
          </a>
  
        </li>
        <li>
         <a class="" href="{% url 'staff_submit_po' %}">
           <i class="bx bx-file-blank me-5" style="font-size: 30px;" ></i>
           <span class="links_name">Submit PO</span>
         </a>
  
       </li>
       <li>
         <a class="ivr dashboard" href="{% url 'staff_submit_ivr' %}">
           <i class='bx bxs-file-blank me-5' style="font-size: 30px;"></i>
           <span class="links_name">Submit IVR</span>
         </a>
  
       </li>
      
  
   
      </ul>
    </div>
     <!-- log out model -->
     <div class="modal fade " id="exampleModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content p-2 ">
          <div class="modal-header ">
            <h5 class="modal-title fw-bold" id="exampleModalLabel">Confirmation</h5>
          </div>
          <div class="modal-body fw-bold">
            Are you sure you want to log out?
          </div>
          <div class="modal-footer ">
            <button type="button" class="btn  rounded text-uppercase fw-bold fs-6" data-bs-dismiss="modal" style="border-width: 0.1mm;border-color: #0892A5;">Close</button>
            <button type="button" class="btn  rounded text-uppercase text-white border fw-bold fs-6" style="background-color: #0892A5; border-color: #0892A5;"><a href='../logout' style="text-decoration:none; color:black">Logout</a></button>
          </div>
        </div>
      </div>
    </div>
 
    <!--END log out model -->
  <section class="home-section">
    <div class="content ps-4 pe-4">
      <div class="hero">
        <nav>
          <div class="header  container-fluid">
            <div class="text pt-3">STAFF DASHBOARD</div> 
          </div>
        </nav>
      </div>

      <div class="action">
        <div class="d-flex">
        <span class="username mt-1 pe-2" id="#username">{{request.session.first_name}}</span>
        <div class="profile text-white" id="profile" onclick="menuToggle();">
          S
        </div>
        
        <div class="menu shadow-lg">
          <ul>
            <li class=" p-2 me-4 mt-3"><i class="bx bx-user-circle pe-2 " style="font-size: 25px;" ></i><a href="../staff_submit_ivr_profile">My Profile</a></li>
            <li  class=" p-2 me-4" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bx bx-log-out pe-2" style="font-size: 25px;" ></i>Logout</li>
            </div>
          </div>
        </div> 
    <div class="add-options mt-1">
      <h5 class="fw-bold pt-3  text-center" style="color: #0892A5;">Invoice Form</h5> 
     <div class="PO-Form">

      <form  name="po-form" method="post" action="" enctype="multipart/form-data" id="po-form">
        {% csrf_token %}
        <!-- get user and set their email here -->
        <input type="text" name="email_submitted_by" id="" value="user@gmail.com" hidden>
        <div class="row row-cols-2 gx-4">
            <div class="col">
              <!-- date -->
              <div class="date pb-1">
                <label class="d-block " for="">Date</label>
                <div class="input-group mb-3 mt-1">
                    <span class="input-group-text  " id="basic-addon1"><i class='bx bxs-calendar' style="font-size: 30px;"></i></span>
                    <input
                      id="date"
                      type="text"
                      class="form-control bg-white"                 
                      aria-describedby="basic-addon1"
                      value="{% now "j/m/Y" %}" readonly
                    />
                  </div>
                </div>
                <div class="po-number pb-1">
                  <label class="d-block " for="">PO Number Approved</label>
                  <div class="input-group mb-3 mt-1">
                      <span class="input-group-text " id="basic-addon1"><i class='bx bxs-file' style="font-size: 30px;"></i></span>
                      
                      <select name="po_no" id="po_no">
                        <option value="" selected disabled></option>
                        {% for po in pos %}
                        <option value="{{ po.po_no }}">{{ po.po_no }}</option>
                        {% endfor %}
                    </select>
  
                    </div>
                  </div>
  
                  <div class="ivr-number pb-1">
                    <label class="d-block " for="">IVR Number</label>
                    <div class="input-group mb-3 mt-1">
                        <span class="input-group-text " id="basic-addon1"><i class='bx bxs-file' style="font-size: 30px;"></i></span>
                        <input
                          type="text"
                          id="inv_no"
                          value="{{ invno }}"
                          class="form-control bg-white"
                          aria-describedby="basic-addon1"
                          readonly
                        />
                      </div>
                    </div>
            
                  <label class="d-block " for="">Department</label>
                  <div class="mt-1 pb-1">          
                  <input type="text" class="form-control bg-white" name="department" id="department" readonly>
                  </div>
  
                  <input type="hidden" name="hod" id="hod">
  
                <!-- category -->
                <div class="mt-1  ">          
                  <label class="d-block " for="">Category</label>
                  <div class="mt-1 pb-1">          
                  <input type="text" class="form-control bg-white" name="category" id="category" readonly>
                  </div>
              </div>
  
              <!-- sub-category -->
              <div class="mt-1 ">          
                <label class="d-block " for="">Sub Category</label>
                  <div class="mt-1 pb-1">          
                  <input type="text" class="form-control bg-white" name="sub_category" id="sub_category" readonly>
                  </div>
            </div>
  
            <div class="mt-1">
            <label class="d-block " for="">Amount <span id="currency_show"></span></label>
                <div class="mt-1 pb-1">    
                <input type="text" class="form-control bg-white" name="currency" id="currency" hidden>      
                <input type="text" class="form-control bg-white" name="amount_currency" id="amount_currency" readonly>
                </div>
              </div>
  
              <div class="mt-1">
              <label class="d-block " for="">Amount (Nu)</label>
                <div class="mt-1 pb-1">          
                <input type="text" class="form-control bg-white" name="amount" id="amount" readonly>
                </div>
              </div>
  
            <div class="mt-1">
              <label class="d-block " for="">Supplier Name</label>
                <div class="mt-1 pb-1">          
                <input type="text" class="form-control bg-white" name="supplier_name" id="supplier_name" readonly>
                </div>
              </div>
  
            <div class="mt-1 mb-5">
              <label class="d-block " for="">Description</label>
              <div class="mt-1 pb-1">          
                <textarea type="text" rows="4"
                class="form-control bg-white" name="description" id="description" readonly></textarea>
              </div>
              </div>  
  
            </div>
    
            <div class="col">
                <div class="col pb-4">
                  <label class="d-block " for="">Quantity</label>
                  <div class="mt-1 pb-1"> 
                  <input type="text" class="form-control bg-white" name="quantity" id="quantity" readonly>
                  </div>
                </div>
                
                <div class="upload col mt-4 pb-4" id="drop_zone" ondrop="dropHandler(event);"
                ondragover="dragoverHandler(event);"
                >
                  <label for="images" class="drop-container">
                    <span class="drop-title"><i class="bx bx-cloud-upload" style="font-size: 60px;"></i></span>
                    or
                    <input type="file"  name="attachment" id="file_input">
                  </label>
                  </div> 
                
                <div class="mt-4 ">
                  <h5 class="fw-bold  text-center" style="color: #0892A5;">Payment Details</h5> 
                </div>
  
                <div class="payee-name col mt-3">
                  <label class="d-block " for="">Payee Name</label>
                  <div class="input-group mb-3 mt-1">
                    <span class="input-group-text " id="basic-addon1"><i class='bx bx-id-card' style="font-size: 30px;"></i></span>
                      <input
                      name="payee_name"
                        type="text"
                        class="form-control bg-white
                        aria-describedby="basic-addon1"
          
                      />
                    </div>
                  </div>
                  <div class="account-no col mt-3">
                    <label class="d-block " for="">Payee Account Number</label>
                    <div class="input-group mb-3 mt-1">
                      <span class="input-group-text " id="basic-addon1"><i class='bx bxs-bank' style="font-size: 30px;"></i></span>
                        <input
                        name="payee_acc_no"
                          type="text"
                          class="form-control bg-white"
                          aria-describedby="basic-addon1"
                    
                        />
                      </div>
                    </div>
                    <div class="trp-no col mt-3">
                      <label class="d-block " for="">TRP Number</label>
                      <div class="input-group mb-3 mt-1">
                        <span class="input-group-text " id="basic-addon1"><i class='bx bx-trending-up' style="font-size: 30px;"></i></span>
                          <input
                          name="tpn_no"
                            type="text"
                            class="form-control bg-white"
                            aria-describedby="basic-addon1"
                          
                          />
                        </div>
                      </div>
                      <div class="payee-bank-name col mt-3 pb-3">
                        <label class="d-block " for="">Payee Bank Name</label>
                        <div class="input-group mb-3 mt-1">
                          <span class="input-group-text " id="basic-addon1"><i class='bx bx-user' style="font-size: 30px;"></i></span>
                            <input
                            name="payee_bank_name"
                              type="text"
                              class="form-control bg-white"
                              aria-describedby="basic-addon1"
                            />
                          </div>
                        </div>
  
                        
                      <div class="buttons ps-4 pe-4 mt-4 pb-3 row row-cols-3 gx-5  text-center">
                        <button type="button" onclick="history.back()" class=" col btn  rounded text-uppercase border fw-bold fs-6">cancel</button>
                        <button type="button"  class=" col btn  rounded text-uppercase  border fw-bold fs-6" onclick="refresh()">clear</button>
                        <button 
                        type="submit"  data-bs-toggle="modal" data-bs-target="#submitSuccess"
                        class=" col btn  rounded text-uppercase  border fw-bold fs-6">Submit</button>
                      </div>   
            </div>
            </div>  
      </form>

</div>
</div>

     

    </div>

        </div>
      </div>
  </section>

<!-- this is the modal that displays msg -->
<div>
  <div class="modal" tabindex="-1" role="dialog" id="message-modal" style="background-color: rgba(0, 0, 0, 0.4);">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="color: #0892A5; border-color: #0892A5; background-color: white;">
        <div class="" style="display: flex; justify-content: space-between;">
          <p class="modal-title"></p>
          <button type="button" class="btn" id="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id="message-text" style="text-align: center;"></p>
        </div>
      </div>
    </div>
  </div>
  <!-- handle msg -->
  {% if messages %}
  <script>
    const messageText = document.getElementById("message-text");
    messageText.innerHTML = "{% for message in messages %}{{ message }}{% endfor %}";
    const messageModal = document.getElementById("message-modal");
    messageModal.style.display = "block";
  </script>
  {% endif %}
  <script> 
  const msgCloseBtn = document.querySelector('#close')
  msgCloseBtn.addEventListener("click", function(){
      messageModal.style.display = "none";
  })
  setTimeout(function() {
    messageModal.style.display = "none";
  }, 10000);
  </script> 
</div>

<!-- handles drag and drop -->
<script>
  function dropHandler(event) {
    event.preventDefault();
    var file = event.dataTransfer.files[0];

    document.getElementById('file_input').files = file;
  }
  function dragoverHandler(event) {
    event.preventDefault();
  }

</script>

<script src="{% static '/js/ivr_autofill.js' %}"></script>

  <script src="{% static '/js/script.js' %}"></script>
  <script src="{% static '/js/form.js' %}"></script>
  <script src="{% static '/js/profile.js' %}"></script> 
</body>
</html>
