 .add button{
    width: 49.2%;
}
  select {
    -webkit-appearance: none;
     -moz-appearance: none;
     -ms-appearance: none;
     appearance: none;
     outline: 0;   
     border-radius: 3px;
     border-color: white;
     background-color: #E9ECEF;
    
   }
   /* Remove IE arrow */
     select::-ms-expand {
     display: none;
   }
   /* Custom Select */
     .role,  .department, .category {
     position: relative;
     display: flex;
     line-height: 3;
     overflow: hidden;
     

   }
     select {
     flex: 1;
     padding: 0 .5em;
     cursor: pointer;

     
   }
   /* Arrow */
     .role::after ,   .department::after ,  .category::after{
     content: '\25BC';
     position: absolute;
     top: 0;
     right: 0;
     padding: 0 2em;
     cursor: pointer;
     pointer-events: none;
     -webkit-transition: .25s all ease;
     -o-transition: .25s all ease;
     transition: .25s all ease;
   }
   label{
    color: #0892A5;
    opacity: 80%;
   }
   textarea{
    border-color: #b8bcc0;
    border-width: 0.3mm;
    border-radius: 3px;
   
   }