.home-section .add-options .row .col i{
    font-size: 170px;
    color: #0892A5;
}
.home-section .add-options .row .col h5{
    font-weight: bold;
    opacity: 50%;
    color: black;
}
.home-section .add-options .row .col a{
    text-decoration: none;
}
.home-section .add-options .row .col a div{
    background-color: #ffffff;
}
.home-section .add-options .row .col a div:hover{
    background-color:#0892A5;
  
}
.home-section .add-options .row .col a div:hover i,.home-section .add-options .row .col a div:hover h5{
    color: white;
    opacity: 1;
  
}



@media (max-width: 800px) {
    .home-section .add-options .row .col i{
        font-size: 50px;
    }
    .home-section .add-options .row .col h5{
        font-size: 16px;
    }
    .home-section .add-options .row {
        display: block;
     }
     .home-section .add-options .row .col {
        width: 100%;
     }

    .home-section .add-options .row .col .cat {
        margin-top: 25px;
     }
     .home-section .add-options{
        padding-bottom: 25px;
     }

}