#view .row,#view .row .col{
    border: 1px solid #0892A5;
    border-collapse: collapse;
   
  }

  #view .row .col{
    padding: 10px;
    font-weight: 400;
  }
  #view .row2 .col1,#view .row8 .col1,#view .row8 .col2,#view .row6 .col2,#view .row11 .col1,#view .row11 .col2,#view .row11 .col3{
    background-color: #0892A5;
    border-right:1px solid white;
  }
  #view .row2 .col2,#view .row11 .col4,#view .row8 .col3{
    background-color: #0892A5;
    
  }
  #view .row4 .col,#view .row6 .col,#view .row10 .col1{
    background-color: #0892A5;

  }
  .row2,.row4,.row6,.row8,.row10 .col1,#view .row11 .col{
    color: white;
  }
  #view .row10 .col1{
    border-top: 1px solid white;
  }

