.modal .add button{
  width: 49.2%;
}
/* ===== 2. standard seachbox ==== */

  
  /* Fixes submit button height problem in Firefox */
   .search{
   position: relative;
   z-index: 1;
     
   }

   .search input{

    height: 45px;
    text-indent: 25px;
    border: 2px solid #0892A5;



   }

   .search .bx-search{

    position: absolute;
    top: 12px;
    left: 13px;
    font-size: 25px;

   }
   .departmentName{
    color: #0892A5;
    height: 45px;
    font-weight: 600;
   }
   
   table i{
    cursor: pointer;
   }
   

   .search button{

    position: absolute;
    top: 0px;
    right: 0px;
    height: 45px;
    width: 110px;
    background: #0892A5;
    border-color: #0892A5;

   }
   .search button:hover{
      background-color: #0892A5;
      border-color: white;
   }
.row select {
    -webkit-appearance: none;
     -moz-appearance: none;
     -ms-appearance: none;
     appearance: none;
     outline: 0;   
     border-radius: 3px;
     border-color: #0892A5;
     background-color: #0892A5;
     color: white;
     height: 45px;
     z-index: 1;
    
   }
   

   /* Remove IE arrow */
   .row select::-ms-expand {
     display: none;
   }
   .row .department::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 2em;
    color: white;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
    z-index: 1;
  
  }
   /* Custom Select */
   .row  .department {
     position: relative;
     display: flex;
     line-height: 3;
     overflow: hidden;
     z-index: 1;
  
   }
   @media (max-width: 1250px) {

    .home-section .tab-content .sort .search-bar {
      width:auto;
   }
    .home-section .tab-content .sort .search-bar .search-txt-input{
      width:auto;
   }
   .search button{

    position: absolute;
    right: 10px;
   }
    .search input{
    width: 90%;


   }
 
  }