
 select {
  -webkit-appearance: none;
   -moz-appearance: none;
   -ms-appearance: none;
   appearance: none;
   outline: 0;   
   border-radius: 3px;

   
  
 }
 /* Remove IE arrow */
   select::-ms-expand {
   display: none;
 }
 /* Custom Select */
   .role,  .department, .category {
   position: relative;
   display: flex;
   line-height: 3;
   overflow: hidden;
   

 }
   select {
   flex: 1;
   padding: 0 .5em;
   cursor: pointer;
   height: 43px;
   border-color: #b8bcc0;

   
 }
 /* Arrow */
   .role::after ,   .department::after ,  .category::after{
   content: '\25BC';
   position: absolute;
   top: 0;
   right: 0;
   padding: 0 2em;
   cursor: pointer;
   pointer-events: none;
   -webkit-transition: .25s all ease;
   -o-transition: .25s all ease;
   transition: .25s all ease;
 }
 label{
  color: #0892A5;
  opacity: 80%;
 }
 textarea{
  border-color: #b8bcc0;
  border-width: 0.3mm;
  border-radius: 3px;
 
 }

 body {
  margin: 20px 60px;
}

.drop-container {
  position: relative;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 224px;
  padding: 20px;
  border-radius: 10px;
  border: 2px dashed #b8bcc0;
  background-color: white;
  color: #444;
  cursor: pointer;
  transition: background .2s ease-in-out, border .2s ease-in-out;
}

.drop-container:hover {
  background: #F0F4F6;
  border-color: rgb(0, 0, 0);
  color: rgb(0, 0, 0);
}

.drop-container:hover .drop-title {
  color: #222;
}

.drop-title {
  color: #444;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  transition: color .2s ease-in-out;
}

input[type=file] {
  width: 350px;
  max-width: 100%;
  color: #444;
  padding: 5px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #555;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #0892A5;
  padding: 8px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #F0F4F6;
  color: #000000;
 

}
.buttons button{
  background-color: #0892A5;
   color: white;
}
.buttons button:hover{
  background-color: #ffffff;
   color: #0892A5;
}
.home-section .content .add-options{
  padding: 0px 100px
}
@media (max-width: 1200px) {
  form .row{
    display: block;
  }
  form .row .col 
  {
    width: 100%;
  }

}
@media (max-width: 800px) {
  .home-section .content .add-options{
    padding: 0px 0px
  }

}