.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pagination li{
    list-style: none;
    padding: 2px;
    margin: 10px;
    flex-shrink: 0;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #999;
    color: #999;
  }
  .pagination li.active{
    background: #0892A5;
    color: white;
    border-color: #0892A5;

  }
  .pagination li a{
    text-decoration: none;
    padding: 3px 8px;
    color: inherit;
    display: block;
    font-family: sans-serif;
    font-size: 13px;
  }