@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* 
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}


.action 
{
    position: absolute;
    top: 20px;
    right: 40px;
}

.action .profile
{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.action .profile img 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.action .menu
{
    position: absolute;
    top: 60px;
    right: -15px;
    background: #ffff;
    width: 200px;
    box-sizing: 0 5px 25px rbg(0,0,0,0.1);
    border-radius: 15px;
    transition: 0.5s;
    visibility: hidden;
    opacity: 0;
    z-index: 30;
}
.action .menu.active {
    visibility: visible;
    opacity: 1;
}
.action .menu::before
{
    content: '';
    position: absolute;
    top: -5px;
    right: 28px;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);
  
}

.action .menu h3
{
    width: 100%;
    text-align: center;
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 18px;
    color: #555;
    line-height: 1.2mm;
}

.action .menu h3 span 
{
    font-size: 14px;
    color: #cecece;
    font-weight: 400;
}

.action .menu ul li
{
    list-style: none;
    padding: 10px 0;
    border-top: 1px solid rbga(0,0,0,0.05);
    display: flex;
    align-items: center;
 

}

.action .menu ul li img
{
    max-width: 20px;
    margin-right: 10px;
    opacity: 0.5;
    transition: 0.5s;

}


.action .menu ul li:hover img
{
    opacity: 1;
}

.action .menu ul li a
{
    display: inline-block;
    text-decoration: none;
    color: #555;
    font-weight: 500;
    transition: 0.5s;
}

.action .menu ul li:hover a,.action .menu ul li:hover i
{
    color: #0892A5;

}
#profile{
    width: 30px;
    height: 30px;
    background:#0892A5;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
  }
    .add-options .form-control:focus {
    box-shadow: none;
    border-color: #0892A5
}

.add-options .profile-button {
    background: #0892A5;
    box-shadow: none;
    border: none
}
.add-options .container p{
    font-size: 18px;

}

.add-options .profile-button:hover {
    background: #0892A5
}

.add-options .profile-button:focus {
    background: #0892A5;
    box-shadow: none
}

.add-options .profile-button:active {
    background: #0892A5;
    box-shadow: none
}

.add-options .back:hover {
    color: #0892A5;
    cursor: pointer
}

.add-options .labels {
    font-size: 15px;
    color: #0892A5;
    
}
.add-options .container .avatar {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #0892A5
}
.add-options .container .avatar span{
    font-size: 70px; 
    margin-left: 80px;
}


.add-options .add-experience:hover {
    background: #0892A5;
    color: #fff;
    cursor: pointer;
    border: solid 1px #0892A5
}
.add-options .container .profileBtn{
    display: flex;
}
#saveProfile,#changepw,#newPasswords{
    display: none;
}
#showProfile{
    display: none;
}

@media (max-width: 1250px) {
    .add-options .container .avatar {
        height: 100px;
        width: 100px;
    

    }
    .add-options .container .avatar span{
        font-size: 50px; 
        margin-left: 40px;
    }
    .add-options .container .profileBtn{
        display: block;
    }
    .add-options .container .input-group span{
        display: none;
    }
}