/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  'Roboto', sans-serif;;
  
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #ffffff;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 300px;
  padding: 6px 30px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon,.sidebar .logo-details p{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details p{
  margin-top: -90px;
}
.sidebar hr{
  margin-top: -45px;
}
.sidebar .logo-details .logo_name{
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name,
.sidebar.open .logo-details p{
  opacity: 1;
}
.sidebar .logo-details .gcit_logo{
  width: 60px;
  padding-top: 20px;
  margin-top: 140px;
}
.sidebar .logo-details .logo{
  width: 60px;
  margin-top: 240px;
  margin-right: 20px;
}

.sidebar.open .logo-details .gcit_logo{
  width: 70px;
  margin-left: 90px;
  margin-top: 30px;
  
}
.sidebar.open .logo-details .logo{
  width: 140px;
  margin-left: 55px;
  margin-top: 140px;
}

.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: rgb(0, 0, 0);
  height: 60px;
  min-width: 50px;
  font-size: 40px;
  text-align: center;
  line-height: 60px;
  opacity: 0.5;
}
.sidebar .nav-list{
  margin-top: 30px;
  margin-left:-32px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;

}
.sidebar li a .links_name{
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}


.sidebar.open li a .links_name{
  opacity: 0.5;
  pointer-events: auto;
}
.sidebar li .dashboard .links_name, .sidebar li .dashboard i{
  color: rgb(255, 255, 255);

}
.sidebar li .dashboard i{
  opacity: 1;
}
.sidebar.open li .dashboard .links_name, .sidebar.open li .dashboard i{
  opacity: 1;

}
.sidebar li a:hover .links_name,
.sidebar li a:hover i,.sidebar li a:hover div{
  transition: all 0.5s ease;
  opacity: 1;
}
.sidebar li .dashboard{
  background: #0892A5;
  border-radius: 20px 0px 20px 0px;
  color: #fff;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.home-section{
  position: relative;
  background: #F0F4F6;
  min-height: 100vh;
  top: 0;
  left: 80px;
  width: calc(100% - 80px);
  transition: all 0.5s ease;
 
}
.forms{
  color: #0892A5;
  font-size: 20px;
  font-weight: 600;
}
.sidebar.open ~ .home-section{
  left: 300px;
  width: calc(100% - 300px);
}

.home-section .text{
  color: #11101d;
  font-size: 25px;
  font-weight: 700;
  opacity: 80%;
}

.content .nav .nav-item .nav-link h3{
  font-weight: 600;
}
.content .nav-item .nav-link.active{
  background-color: #0892A5;
  color: white;
}
.table-{
  background-color: #F0F4F6;
}
.content .nav-item a {
  background-color: #ffffff;
  color: rgb(26, 26, 26);
}

.modal .modal-footer button{
  width: 48%;
}



@media (max-width: 800px) {
  .sidebar li .tooltip{
    display: none;
  }
  .home-section .account{
    margin: 0;
  }
  .home-section .text{
    font-size: 20px;
  }
  .content .nav-item {
    width: 100%;
    padding:0%;
  }
  .content .one {
    margin-top: 25px;
    
  }
  .content .nav{
    display: block;
  }
  .content .nav .nav-item .nav-link h5,
    .content .nav .nav-item .nav-link h3{
    font-size: 15px;
  }
  .content .nav .nav-item .nav-link h3{
    font-weight: bold;

  }
  


}
@media (max-width:500px){
  .modal .modal-footer button{
    width: 47%;
  }
  .sidebar li{
    margin: 0;
  }
 
}
@media (max-height:700px){
  .sidebar li{
    margin: 0;
  }
  .account{
    margin: 0;
  }

}
